# OpenAPI 3.1 stub generated from ga4-admin-api.md
#
# Notes:
# - This file captures the path inventory, HTTP methods, descriptions, service endpoint,
#   and resource organisation present in the source markdown.
# - The source markdown does not include field-level request/response schemas, query
#   parameters, or authentication flows, so this spec uses placeholder object schemas.
# - Google-style resource-name templates were expanded into segment-level path parameters
#   for OpenAPI compatibility.

openapi: 3.1.0
info:
  title: Google Analytics Admin API
  version: v1alpha-v1beta-markdown-derived
  description: 'OpenAPI conversion derived from the uploaded Google Analytics Admin API markdown index.


    The source markdown enumerates resources, HTTP methods, relative paths, service endpoint, and short operation descriptions, but it does not provide full request schemas, response schemas, query parameters, or authentication flow details. This document therefore captures all listed operations and expands Google-style resource path templates into OpenAPI-friendly segment parameters, while using conservative placeholder schemas where the source is silent.


    Source warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project, or to circumvent service-specific usage limits or quotas, violates Google Cloud Platform Terms of Service and Google APIs Terms of Service.'
servers:
- url: https://analyticsadmin.googleapis.com
externalDocs:
  url: https://developers.google.com/analytics/devguides/config/admin/v1/rest
tags:
- name: v1beta.accountSummaries
  description: Operations for `v1beta.accountSummaries`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1beta/accountSummaries
- name: v1beta.accounts
  description: Operations for `v1beta.accounts`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1beta/accounts
- name: v1beta.properties
  description: Operations for `v1beta.properties`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1beta/properties
- name: v1beta.properties.conversionEvents
  description: Operations for `v1beta.properties.conversionEvents`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1beta/properties.conversionEvents
- name: v1beta.properties.customDimensions
  description: Operations for `v1beta.properties.customDimensions`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1beta/properties.customDimensions
- name: v1beta.properties.customMetrics
  description: Operations for `v1beta.properties.customMetrics`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1beta/properties.customMetrics
- name: v1beta.properties.dataStreams
  description: Operations for `v1beta.properties.dataStreams`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1beta/properties.dataStreams
- name: v1beta.properties.dataStreams.measurementProtocolSecrets
  description: Operations for `v1beta.properties.dataStreams.measurementProtocolSecrets`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1beta/properties.dataStreams.measurementProtocolSecrets
- name: v1beta.properties.firebaseLinks
  description: Operations for `v1beta.properties.firebaseLinks`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1beta/properties.firebaseLinks
- name: v1beta.properties.googleAdsLinks
  description: Operations for `v1beta.properties.googleAdsLinks`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1beta/properties.googleAdsLinks
- name: v1beta.properties.keyEvents
  description: Operations for `v1beta.properties.keyEvents`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1beta/properties.keyEvents
- name: v1alpha.accountSummaries
  description: Operations for `v1alpha.accountSummaries`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accountSummaries
- name: v1alpha.accounts
  description: Operations for `v1alpha.accounts`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts
- name: v1alpha.accounts.accessBindings
  description: Operations for `v1alpha.accounts.accessBindings`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts.accessBindings
- name: v1alpha.properties
  description: Operations for `v1alpha.properties`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties
- name: v1alpha.properties.accessBindings
  description: Operations for `v1alpha.properties.accessBindings`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.accessBindings
- name: v1alpha.properties.adSenseLinks
  description: Operations for `v1alpha.properties.adSenseLinks`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.adSenseLinks
- name: v1alpha.properties.audiences
  description: Operations for `v1alpha.properties.audiences`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.audiences
- name: v1alpha.properties.bigQueryLinks
  description: Operations for `v1alpha.properties.bigQueryLinks`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.bigQueryLinks
- name: v1alpha.properties.calculatedMetrics
  description: Operations for `v1alpha.properties.calculatedMetrics`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.calculatedMetrics
- name: v1alpha.properties.channelGroups
  description: Operations for `v1alpha.properties.channelGroups`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.channelGroups
- name: v1alpha.properties.conversionEvents
  description: Operations for `v1alpha.properties.conversionEvents`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.conversionEvents
- name: v1alpha.properties.customDimensions
  description: Operations for `v1alpha.properties.customDimensions`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.customDimensions
- name: v1alpha.properties.customMetrics
  description: Operations for `v1alpha.properties.customMetrics`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.customMetrics
- name: v1alpha.properties.dataStreams
  description: Operations for `v1alpha.properties.dataStreams`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.dataStreams
- name: v1alpha.properties.dataStreams.eventCreateRules
  description: Operations for `v1alpha.properties.dataStreams.eventCreateRules`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.dataStreams.eventCreateRules
- name: v1alpha.properties.dataStreams.eventEditRules
  description: Operations for `v1alpha.properties.dataStreams.eventEditRules`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.dataStreams.eventEditRules
- name: v1alpha.properties.dataStreams.measurementProtocolSecrets
  description: Operations for `v1alpha.properties.dataStreams.measurementProtocolSecrets`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.dataStreams.measurementProtocolSecrets
- name: v1alpha.properties.dataStreams.sKAdNetworkConversionValueSchema
  description: Operations for `v1alpha.properties.dataStreams.sKAdNetworkConversionValueSchema`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.dataStreams.sKAdNetworkConversionValueSchema
- name: v1alpha.properties.displayVideo360AdvertiserLinkProposals
  description: Operations for `v1alpha.properties.displayVideo360AdvertiserLinkProposals`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.displayVideo360AdvertiserLinkProposals
- name: v1alpha.properties.displayVideo360AdvertiserLinks
  description: Operations for `v1alpha.properties.displayVideo360AdvertiserLinks`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.displayVideo360AdvertiserLinks
- name: v1alpha.properties.expandedDataSets
  description: Operations for `v1alpha.properties.expandedDataSets`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.expandedDataSets
- name: v1alpha.properties.firebaseLinks
  description: Operations for `v1alpha.properties.firebaseLinks`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.firebaseLinks
- name: v1alpha.properties.googleAdsLinks
  description: Operations for `v1alpha.properties.googleAdsLinks`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.googleAdsLinks
- name: v1alpha.properties.keyEvents
  description: Operations for `v1alpha.properties.keyEvents`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.keyEvents
- name: v1alpha.properties.reportingDataAnnotations
  description: Operations for `v1alpha.properties.reportingDataAnnotations`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.reportingDataAnnotations
- name: v1alpha.properties.rollupPropertySourceLinks
  description: Operations for `v1alpha.properties.rollupPropertySourceLinks`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.rollupPropertySourceLinks
- name: v1alpha.properties.searchAds360Links
  description: Operations for `v1alpha.properties.searchAds360Links`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.searchAds360Links
- name: v1alpha.properties.subpropertyEventFilters
  description: Operations for `v1alpha.properties.subpropertyEventFilters`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.subpropertyEventFilters
- name: v1alpha.properties.subpropertySyncConfigs
  description: Operations for `v1alpha.properties.subpropertySyncConfigs`.
  externalDocs:
    url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.subpropertySyncConfigs
paths:
  /v1alpha/accountSummaries:
    get:
      tags:
      - v1alpha.accountSummaries
      summary: Returns summaries of all accounts accessible by the caller.
      description: 'Returns summaries of all accounts accessible by the caller.


        Original Google API path template: `/v1alpha/accountSummaries`'
      operationId: v1alphaAccountSummariesList
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accountSummaries/list
      x-google-path-template: /v1alpha/accountSummaries
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /v1alpha/accounts:
    get:
      tags:
      - v1alpha.accounts
      summary: Returns all accounts accessible by the caller.
      description: 'Returns all accounts accessible by the caller.


        Original Google API path template: `/v1alpha/accounts`'
      operationId: v1alphaAccountsList
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/list
      x-google-path-template: /v1alpha/accounts
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /v1alpha/accounts/{accountId}:
    delete:
      tags:
      - v1alpha.accounts
      summary: 'Marks target Account as soft-deleted (ie: "trashed") and returns it.'
      description: 'Marks target Account as soft-deleted (ie: "trashed") and returns it.


        Original Google API path template: `/v1alpha/{name=accounts/*}`'
      operationId: v1alphaAccountsDelete
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/delete
      x-google-path-template: /v1alpha/{name=accounts/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/accountId'
    get:
      tags:
      - v1alpha.accounts
      summary: Lookup for a single Account.
      description: 'Lookup for a single Account.


        Original Google API path template: `/v1alpha/{name=accounts/*}`'
      operationId: v1alphaAccountsGet
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/get
      x-google-path-template: /v1alpha/{name=accounts/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/accountId'
    patch:
      tags:
      - v1alpha.accounts
      summary: Updates an account.
      description: 'Updates an account.


        Original Google API path template: `/v1alpha/{account.name=accounts/*}`'
      operationId: v1alphaAccountsPatch
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/patch
      x-google-path-template: /v1alpha/{account.name=accounts/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/accountId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/accounts/{accountId}/accessBindings:
    post:
      tags:
      - v1alpha.accounts.accessBindings
      summary: Creates an access binding on an account or property.
      description: 'Creates an access binding on an account or property.


        Original Google API path template: `/v1alpha/{parent=accounts/*}/accessBindings`'
      operationId: v1alphaAccountsAccessBindingsCreate
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts.accessBindings/create
      x-google-path-template: /v1alpha/{parent=accounts/*}/accessBindings
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/accountId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
    get:
      tags:
      - v1alpha.accounts.accessBindings
      summary: Lists all access bindings on an account or property.
      description: 'Lists all access bindings on an account or property.


        Original Google API path template: `/v1alpha/{parent=accounts/*}/accessBindings`'
      operationId: v1alphaAccountsAccessBindingsList
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts.accessBindings/list
      x-google-path-template: /v1alpha/{parent=accounts/*}/accessBindings
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/accountId'
  /v1alpha/accounts/{accountId}/accessBindings/{accessBindingId}:
    delete:
      tags:
      - v1alpha.accounts.accessBindings
      summary: Deletes an access binding on an account or property.
      description: 'Deletes an access binding on an account or property.


        Original Google API path template: `/v1alpha/{name=accounts/*/accessBindings/*}`'
      operationId: v1alphaAccountsAccessBindingsDelete
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts.accessBindings/delete
      x-google-path-template: /v1alpha/{name=accounts/*/accessBindings/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/accessBindingId'
    get:
      tags:
      - v1alpha.accounts.accessBindings
      summary: Gets information about an access binding.
      description: 'Gets information about an access binding.


        Original Google API path template: `/v1alpha/{name=accounts/*/accessBindings/*}`'
      operationId: v1alphaAccountsAccessBindingsGet
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts.accessBindings/get
      x-google-path-template: /v1alpha/{name=accounts/*/accessBindings/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/accessBindingId'
    patch:
      tags:
      - v1alpha.accounts.accessBindings
      summary: Updates an access binding on an account or property.
      description: 'Updates an access binding on an account or property.


        Original Google API path template: `/v1alpha/{accessBinding.name=accounts/*/accessBindings/*}`'
      operationId: v1alphaAccountsAccessBindingsPatch
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts.accessBindings/patch
      x-google-path-template: /v1alpha/{accessBinding.name=accounts/*/accessBindings/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/accessBindingId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/accounts/{accountId}/accessBindings:batchCreate:
    post:
      tags:
      - v1alpha.accounts.accessBindings
      summary: Creates information about multiple access bindings to an account or property.
      description: 'Creates information about multiple access bindings to an account or property.


        Original Google API path template: `/v1alpha/{parent=accounts/*}/accessBindings:batchCreate`'
      operationId: v1alphaAccountsAccessBindingsBatchCreate
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts.accessBindings/batchCreate
      x-google-path-template: /v1alpha/{parent=accounts/*}/accessBindings:batchCreate
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/accountId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/accounts/{accountId}/accessBindings:batchDelete:
    post:
      tags:
      - v1alpha.accounts.accessBindings
      summary: Deletes information about multiple users' links to an account or property.
      description: 'Deletes information about multiple users'' links to an account or property.


        Original Google API path template: `/v1alpha/{parent=accounts/*}/accessBindings:batchDelete`'
      operationId: v1alphaAccountsAccessBindingsBatchDelete
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts.accessBindings/batchDelete
      x-google-path-template: /v1alpha/{parent=accounts/*}/accessBindings:batchDelete
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/accountId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/accounts/{accountId}/accessBindings:batchGet:
    get:
      tags:
      - v1alpha.accounts.accessBindings
      summary: Gets information about multiple access bindings to an account or property.
      description: 'Gets information about multiple access bindings to an account or property.


        Original Google API path template: `/v1alpha/{parent=accounts/*}/accessBindings:batchGet`'
      operationId: v1alphaAccountsAccessBindingsBatchGet
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts.accessBindings/batchGet
      x-google-path-template: /v1alpha/{parent=accounts/*}/accessBindings:batchGet
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/accountId'
  /v1alpha/accounts/{accountId}/accessBindings:batchUpdate:
    post:
      tags:
      - v1alpha.accounts.accessBindings
      summary: Updates information about multiple access bindings to an account or property.
      description: 'Updates information about multiple access bindings to an account or property.


        Original Google API path template: `/v1alpha/{parent=accounts/*}/accessBindings:batchUpdate`'
      operationId: v1alphaAccountsAccessBindingsBatchUpdate
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts.accessBindings/batchUpdate
      x-google-path-template: /v1alpha/{parent=accounts/*}/accessBindings:batchUpdate
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/accountId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/accounts/{accountId}/dataSharingSettings:
    get:
      tags:
      - v1alpha.accounts
      summary: Get data sharing settings on an account.
      description: 'Get data sharing settings on an account.


        Original Google API path template: `/v1alpha/{name=accounts/*/dataSharingSettings}`'
      operationId: v1alphaAccountsGetDataSharingSettings
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/getDataSharingSettings
      x-google-path-template: /v1alpha/{name=accounts/*/dataSharingSettings}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/accountId'
  /v1alpha/accounts/{accountId}:runAccessReport:
    post:
      tags:
      - v1alpha.accounts
      summary: Returns a customized report of data access records.
      description: 'Returns a customized report of data access records.


        Original Google API path template: `/v1alpha/{entity=accounts/*}:runAccessReport`'
      operationId: v1alphaAccountsRunAccessReport
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/runAccessReport
      x-google-path-template: /v1alpha/{entity=accounts/*}:runAccessReport
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/accountId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/accounts/{accountId}:searchChangeHistoryEvents:
    post:
      tags:
      - v1alpha.accounts
      summary: Searches through all changes to an account or its children given the specified set of filters.
      description: 'Searches through all changes to an account or its children given the specified set of filters.


        Original Google API path template: `/v1alpha/{account=accounts/*}:searchChangeHistoryEvents`'
      operationId: v1alphaAccountsSearchChangeHistoryEvents
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents
      x-google-path-template: /v1alpha/{account=accounts/*}:searchChangeHistoryEvents
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/accountId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/accounts:provisionAccountTicket:
    post:
      tags:
      - v1alpha.accounts
      summary: Requests a ticket for creating an account.
      description: 'Requests a ticket for creating an account.


        Original Google API path template: `/v1alpha/accounts:provisionAccountTicket`'
      operationId: v1alphaAccountsProvisionAccountTicket
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/provisionAccountTicket
      x-google-path-template: /v1alpha/accounts:provisionAccountTicket
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties:
    post:
      tags:
      - v1alpha.properties
      summary: Creates a Google Analytics property with the specified location and attributes.
      description: 'Creates a Google Analytics property with the specified location and attributes.


        Original Google API path template: `/v1alpha/properties`'
      operationId: v1alphaPropertiesCreate
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties/create
      x-google-path-template: /v1alpha/properties
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
    get:
      tags:
      - v1alpha.properties
      summary: Returns child Properties under the specified parent Account.
      description: 'Returns child Properties under the specified parent Account.


        Original Google API path template: `/v1alpha/properties`'
      operationId: v1alphaPropertiesList
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties/list
      x-google-path-template: /v1alpha/properties
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /v1alpha/properties/{propertyId}:
    delete:
      tags:
      - v1alpha.properties
      summary: 'Marks target Property as soft-deleted (ie: "trashed") and returns it.'
      description: 'Marks target Property as soft-deleted (ie: "trashed") and returns it.


        Original Google API path template: `/v1alpha/{name=properties/*}`'
      operationId: v1alphaPropertiesDelete
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties/delete
      x-google-path-template: /v1alpha/{name=properties/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
    get:
      tags:
      - v1alpha.properties
      summary: Lookup for a single GA Property.
      description: 'Lookup for a single GA Property.


        Original Google API path template: `/v1alpha/{name=properties/*}`'
      operationId: v1alphaPropertiesGet
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties/get
      x-google-path-template: /v1alpha/{name=properties/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
    patch:
      tags:
      - v1alpha.properties
      summary: Updates a property.
      description: 'Updates a property.


        Original Google API path template: `/v1alpha/{property.name=properties/*}`'
      operationId: v1alphaPropertiesPatch
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties/patch
      x-google-path-template: /v1alpha/{property.name=properties/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/accessBindings:
    post:
      tags:
      - v1alpha.properties.accessBindings
      summary: Creates an access binding on an account or property.
      description: 'Creates an access binding on an account or property.


        Original Google API path template: `/v1alpha/{parent=properties/*}/accessBindings`'
      operationId: v1alphaPropertiesAccessBindingsCreate
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.accessBindings/create
      x-google-path-template: /v1alpha/{parent=properties/*}/accessBindings
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
    get:
      tags:
      - v1alpha.properties.accessBindings
      summary: Lists all access bindings on an account or property.
      description: 'Lists all access bindings on an account or property.


        Original Google API path template: `/v1alpha/{parent=properties/*}/accessBindings`'
      operationId: v1alphaPropertiesAccessBindingsList
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.accessBindings/list
      x-google-path-template: /v1alpha/{parent=properties/*}/accessBindings
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
  /v1alpha/properties/{propertyId}/accessBindings/{accessBindingId}:
    delete:
      tags:
      - v1alpha.properties.accessBindings
      summary: Deletes an access binding on an account or property.
      description: 'Deletes an access binding on an account or property.


        Original Google API path template: `/v1alpha/{name=properties/*/accessBindings/*}`'
      operationId: v1alphaPropertiesAccessBindingsDelete
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.accessBindings/delete
      x-google-path-template: /v1alpha/{name=properties/*/accessBindings/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/accessBindingId'
    get:
      tags:
      - v1alpha.properties.accessBindings
      summary: Gets information about an access binding.
      description: 'Gets information about an access binding.


        Original Google API path template: `/v1alpha/{name=properties/*/accessBindings/*}`'
      operationId: v1alphaPropertiesAccessBindingsGet
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.accessBindings/get
      x-google-path-template: /v1alpha/{name=properties/*/accessBindings/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/accessBindingId'
    patch:
      tags:
      - v1alpha.properties.accessBindings
      summary: Updates an access binding on an account or property.
      description: 'Updates an access binding on an account or property.


        Original Google API path template: `/v1alpha/{accessBinding.name=properties/*/accessBindings/*}`'
      operationId: v1alphaPropertiesAccessBindingsPatch
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.accessBindings/patch
      x-google-path-template: /v1alpha/{accessBinding.name=properties/*/accessBindings/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/accessBindingId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/accessBindings:batchCreate:
    post:
      tags:
      - v1alpha.properties.accessBindings
      summary: Creates information about multiple access bindings to an account or property.
      description: 'Creates information about multiple access bindings to an account or property.


        Original Google API path template: `/v1alpha/{parent=properties/*}/accessBindings:batchCreate`'
      operationId: v1alphaPropertiesAccessBindingsBatchCreate
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.accessBindings/batchCreate
      x-google-path-template: /v1alpha/{parent=properties/*}/accessBindings:batchCreate
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/accessBindings:batchDelete:
    post:
      tags:
      - v1alpha.properties.accessBindings
      summary: Deletes information about multiple users' links to an account or property.
      description: 'Deletes information about multiple users'' links to an account or property.


        Original Google API path template: `/v1alpha/{parent=properties/*}/accessBindings:batchDelete`'
      operationId: v1alphaPropertiesAccessBindingsBatchDelete
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.accessBindings/batchDelete
      x-google-path-template: /v1alpha/{parent=properties/*}/accessBindings:batchDelete
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/accessBindings:batchGet:
    get:
      tags:
      - v1alpha.properties.accessBindings
      summary: Gets information about multiple access bindings to an account or property.
      description: 'Gets information about multiple access bindings to an account or property.


        Original Google API path template: `/v1alpha/{parent=properties/*}/accessBindings:batchGet`'
      operationId: v1alphaPropertiesAccessBindingsBatchGet
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.accessBindings/batchGet
      x-google-path-template: /v1alpha/{parent=properties/*}/accessBindings:batchGet
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
  /v1alpha/properties/{propertyId}/accessBindings:batchUpdate:
    post:
      tags:
      - v1alpha.properties.accessBindings
      summary: Updates information about multiple access bindings to an account or property.
      description: 'Updates information about multiple access bindings to an account or property.


        Original Google API path template: `/v1alpha/{parent=properties/*}/accessBindings:batchUpdate`'
      operationId: v1alphaPropertiesAccessBindingsBatchUpdate
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.accessBindings/batchUpdate
      x-google-path-template: /v1alpha/{parent=properties/*}/accessBindings:batchUpdate
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/adSenseLinks:
    post:
      tags:
      - v1alpha.properties.adSenseLinks
      summary: Creates an AdSenseLink.
      description: 'Creates an AdSenseLink.


        Original Google API path template: `/v1alpha/{parent=properties/*}/adSenseLinks`'
      operationId: v1alphaPropertiesAdSenseLinksCreate
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.adSenseLinks/create
      x-google-path-template: /v1alpha/{parent=properties/*}/adSenseLinks
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
    get:
      tags:
      - v1alpha.properties.adSenseLinks
      summary: Lists AdSenseLinks on a property.
      description: 'Lists AdSenseLinks on a property.


        Original Google API path template: `/v1alpha/{parent=properties/*}/adSenseLinks`'
      operationId: v1alphaPropertiesAdSenseLinksList
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.adSenseLinks/list
      x-google-path-template: /v1alpha/{parent=properties/*}/adSenseLinks
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
  /v1alpha/properties/{propertyId}/adSenseLinks/{adSenseLinkId}:
    delete:
      tags:
      - v1alpha.properties.adSenseLinks
      summary: Deletes an AdSenseLink.
      description: 'Deletes an AdSenseLink.


        Original Google API path template: `/v1alpha/{name=properties/*/adSenseLinks/*}`'
      operationId: v1alphaPropertiesAdSenseLinksDelete
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.adSenseLinks/delete
      x-google-path-template: /v1alpha/{name=properties/*/adSenseLinks/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/adSenseLinkId'
    get:
      tags:
      - v1alpha.properties.adSenseLinks
      summary: Looks up a single AdSenseLink.
      description: 'Looks up a single AdSenseLink.


        Original Google API path template: `/v1alpha/{name=properties/*/adSenseLinks/*}`'
      operationId: v1alphaPropertiesAdSenseLinksGet
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.adSenseLinks/get
      x-google-path-template: /v1alpha/{name=properties/*/adSenseLinks/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/adSenseLinkId'
  /v1alpha/properties/{propertyId}/attributionSettings:
    get:
      tags:
      - v1alpha.properties
      summary: Lookup for a AttributionSettings singleton.
      description: 'Lookup for a AttributionSettings singleton.


        Original Google API path template: `/v1alpha/{name=properties/*/attributionSettings}`'
      operationId: v1alphaPropertiesGetAttributionSettings
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties/getAttributionSettings
      x-google-path-template: /v1alpha/{name=properties/*/attributionSettings}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
    patch:
      tags:
      - v1alpha.properties
      summary: Updates attribution settings on a property.
      description: 'Updates attribution settings on a property.


        Original Google API path template: `/v1alpha/{attributionSettings.name=properties/*/attributionSettings}`'
      operationId: v1alphaPropertiesUpdateAttributionSettings
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties/updateAttributionSettings
      x-google-path-template: /v1alpha/{attributionSettings.name=properties/*/attributionSettings}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/audiences:
    post:
      tags:
      - v1alpha.properties.audiences
      summary: Creates an Audience.
      description: 'Creates an Audience.


        Original Google API path template: `/v1alpha/{parent=properties/*}/audiences`'
      operationId: v1alphaPropertiesAudiencesCreate
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.audiences/create
      x-google-path-template: /v1alpha/{parent=properties/*}/audiences
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
    get:
      tags:
      - v1alpha.properties.audiences
      summary: Lists Audiences on a property.
      description: 'Lists Audiences on a property.


        Original Google API path template: `/v1alpha/{parent=properties/*}/audiences`'
      operationId: v1alphaPropertiesAudiencesList
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.audiences/list
      x-google-path-template: /v1alpha/{parent=properties/*}/audiences
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
  /v1alpha/properties/{propertyId}/audiences/{audienceId}:
    get:
      tags:
      - v1alpha.properties.audiences
      summary: Lookup for a single Audience.
      description: 'Lookup for a single Audience.


        Original Google API path template: `/v1alpha/{name=properties/*/audiences/*}`'
      operationId: v1alphaPropertiesAudiencesGet
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.audiences/get
      x-google-path-template: /v1alpha/{name=properties/*/audiences/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/audienceId'
    patch:
      tags:
      - v1alpha.properties.audiences
      summary: Updates an Audience on a property.
      description: 'Updates an Audience on a property.


        Original Google API path template: `/v1alpha/{audience.name=properties/*/audiences/*}`'
      operationId: v1alphaPropertiesAudiencesPatch
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.audiences/patch
      x-google-path-template: /v1alpha/{audience.name=properties/*/audiences/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/audienceId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/audiences/{audienceId}:archive:
    post:
      tags:
      - v1alpha.properties.audiences
      summary: Archives an Audience on a property.
      description: 'Archives an Audience on a property.


        Original Google API path template: `/v1alpha/{name=properties/*/audiences/*}:archive`'
      operationId: v1alphaPropertiesAudiencesArchive
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.audiences/archive
      x-google-path-template: /v1alpha/{name=properties/*/audiences/*}:archive
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/audienceId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/bigQueryLinks:
    post:
      tags:
      - v1alpha.properties.bigQueryLinks
      summary: Creates a BigQueryLink.
      description: 'Creates a BigQueryLink.


        Original Google API path template: `/v1alpha/{parent=properties/*}/bigQueryLinks`'
      operationId: v1alphaPropertiesBigQueryLinksCreate
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.bigQueryLinks/create
      x-google-path-template: /v1alpha/{parent=properties/*}/bigQueryLinks
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
    get:
      tags:
      - v1alpha.properties.bigQueryLinks
      summary: Lists BigQuery Links on a property.
      description: 'Lists BigQuery Links on a property.


        Original Google API path template: `/v1alpha/{parent=properties/*}/bigQueryLinks`'
      operationId: v1alphaPropertiesBigQueryLinksList
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.bigQueryLinks/list
      x-google-path-template: /v1alpha/{parent=properties/*}/bigQueryLinks
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
  /v1alpha/properties/{propertyId}/bigQueryLinks/{bigQueryLinkId}:
    delete:
      tags:
      - v1alpha.properties.bigQueryLinks
      summary: Deletes a BigQueryLink on a property.
      description: 'Deletes a BigQueryLink on a property.


        Original Google API path template: `/v1alpha/{name=properties/*/bigQueryLinks/*}`'
      operationId: v1alphaPropertiesBigQueryLinksDelete
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.bigQueryLinks/delete
      x-google-path-template: /v1alpha/{name=properties/*/bigQueryLinks/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/bigQueryLinkId'
    get:
      tags:
      - v1alpha.properties.bigQueryLinks
      summary: Lookup for a single BigQuery Link.
      description: 'Lookup for a single BigQuery Link.


        Original Google API path template: `/v1alpha/{name=properties/*/bigQueryLinks/*}`'
      operationId: v1alphaPropertiesBigQueryLinksGet
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.bigQueryLinks/get
      x-google-path-template: /v1alpha/{name=properties/*/bigQueryLinks/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/bigQueryLinkId'
    patch:
      tags:
      - v1alpha.properties.bigQueryLinks
      summary: Updates a BigQueryLink.
      description: 'Updates a BigQueryLink.


        Original Google API path template: `/v1alpha/{bigqueryLink.name=properties/*/bigQueryLinks/*}`'
      operationId: v1alphaPropertiesBigQueryLinksPatch
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.bigQueryLinks/patch
      x-google-path-template: /v1alpha/{bigqueryLink.name=properties/*/bigQueryLinks/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/bigQueryLinkId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/calculatedMetrics:
    post:
      tags:
      - v1alpha.properties.calculatedMetrics
      summary: Creates a CalculatedMetric.
      description: 'Creates a CalculatedMetric.


        Original Google API path template: `/v1alpha/{parent=properties/*}/calculatedMetrics`'
      operationId: v1alphaPropertiesCalculatedMetricsCreate
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.calculatedMetrics/create
      x-google-path-template: /v1alpha/{parent=properties/*}/calculatedMetrics
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
    get:
      tags:
      - v1alpha.properties.calculatedMetrics
      summary: Lists CalculatedMetrics on a property.
      description: 'Lists CalculatedMetrics on a property.


        Original Google API path template: `/v1alpha/{parent=properties/*}/calculatedMetrics`'
      operationId: v1alphaPropertiesCalculatedMetricsList
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.calculatedMetrics/list
      x-google-path-template: /v1alpha/{parent=properties/*}/calculatedMetrics
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
  /v1alpha/properties/{propertyId}/calculatedMetrics/{calculatedMetricId}:
    delete:
      tags:
      - v1alpha.properties.calculatedMetrics
      summary: Deletes a CalculatedMetric on a property.
      description: 'Deletes a CalculatedMetric on a property.


        Original Google API path template: `/v1alpha/{name=properties/*/calculatedMetrics/*}`'
      operationId: v1alphaPropertiesCalculatedMetricsDelete
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.calculatedMetrics/delete
      x-google-path-template: /v1alpha/{name=properties/*/calculatedMetrics/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/calculatedMetricId'
    get:
      tags:
      - v1alpha.properties.calculatedMetrics
      summary: Lookup for a single CalculatedMetric.
      description: 'Lookup for a single CalculatedMetric.


        Original Google API path template: `/v1alpha/{name=properties/*/calculatedMetrics/*}`'
      operationId: v1alphaPropertiesCalculatedMetricsGet
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.calculatedMetrics/get
      x-google-path-template: /v1alpha/{name=properties/*/calculatedMetrics/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/calculatedMetricId'
    patch:
      tags:
      - v1alpha.properties.calculatedMetrics
      summary: Updates a CalculatedMetric on a property.
      description: 'Updates a CalculatedMetric on a property.


        Original Google API path template: `/v1alpha/{calculatedMetric.name=properties/*/calculatedMetrics/*}`'
      operationId: v1alphaPropertiesCalculatedMetricsPatch
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.calculatedMetrics/patch
      x-google-path-template: /v1alpha/{calculatedMetric.name=properties/*/calculatedMetrics/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/calculatedMetricId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/channelGroups:
    post:
      tags:
      - v1alpha.properties.channelGroups
      summary: Creates a ChannelGroup.
      description: 'Creates a ChannelGroup.


        Original Google API path template: `/v1alpha/{parent=properties/*}/channelGroups`'
      operationId: v1alphaPropertiesChannelGroupsCreate
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.channelGroups/create
      x-google-path-template: /v1alpha/{parent=properties/*}/channelGroups
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
    get:
      tags:
      - v1alpha.properties.channelGroups
      summary: Lists ChannelGroups on a property.
      description: 'Lists ChannelGroups on a property.


        Original Google API path template: `/v1alpha/{parent=properties/*}/channelGroups`'
      operationId: v1alphaPropertiesChannelGroupsList
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.channelGroups/list
      x-google-path-template: /v1alpha/{parent=properties/*}/channelGroups
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
  /v1alpha/properties/{propertyId}/channelGroups/{channelGroupId}:
    delete:
      tags:
      - v1alpha.properties.channelGroups
      summary: Deletes a ChannelGroup on a property.
      description: 'Deletes a ChannelGroup on a property.


        Original Google API path template: `/v1alpha/{name=properties/*/channelGroups/*}`'
      operationId: v1alphaPropertiesChannelGroupsDelete
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.channelGroups/delete
      x-google-path-template: /v1alpha/{name=properties/*/channelGroups/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/channelGroupId'
    get:
      tags:
      - v1alpha.properties.channelGroups
      summary: Lookup for a single ChannelGroup.
      description: 'Lookup for a single ChannelGroup.


        Original Google API path template: `/v1alpha/{name=properties/*/channelGroups/*}`'
      operationId: v1alphaPropertiesChannelGroupsGet
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.channelGroups/get
      x-google-path-template: /v1alpha/{name=properties/*/channelGroups/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/channelGroupId'
    patch:
      tags:
      - v1alpha.properties.channelGroups
      summary: Updates a ChannelGroup.
      description: 'Updates a ChannelGroup.


        Original Google API path template: `/v1alpha/{channelGroup.name=properties/*/channelGroups/*}`'
      operationId: v1alphaPropertiesChannelGroupsPatch
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.channelGroups/patch
      x-google-path-template: /v1alpha/{channelGroup.name=properties/*/channelGroups/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/channelGroupId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/conversionEvents:
    post:
      tags:
      - v1alpha.properties.conversionEvents
      summary: 'Deprecated: Use `CreateKeyEvent` instead.'
      description: 'Deprecated: Use `CreateKeyEvent` instead.


        Original Google API path template: `/v1alpha/{parent=properties/*}/conversionEvents`'
      operationId: v1alphaPropertiesConversionEventsCreate
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.conversionEvents/create (deprecated)
      x-google-path-template: /v1alpha/{parent=properties/*}/conversionEvents
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
    get:
      tags:
      - v1alpha.properties.conversionEvents
      summary: 'Deprecated: Use `ListKeyEvents` instead.'
      description: 'Deprecated: Use `ListKeyEvents` instead.


        Original Google API path template: `/v1alpha/{parent=properties/*}/conversionEvents`'
      operationId: v1alphaPropertiesConversionEventsList
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.conversionEvents/list (deprecated)
      x-google-path-template: /v1alpha/{parent=properties/*}/conversionEvents
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/propertyId'
  /v1alpha/properties/{propertyId}/conversionEvents/{conversionEventId}:
    delete:
      tags:
      - v1alpha.properties.conversionEvents
      summary: 'Deprecated: Use `DeleteKeyEvent` instead.'
      description: 'Deprecated: Use `DeleteKeyEvent` instead.


        Original Google API path template: `/v1alpha/{name=properties/*/conversionEvents/*}`'
      operationId: v1alphaPropertiesConversionEventsDelete
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.conversionEvents/delete (deprecated)
      x-google-path-template: /v1alpha/{name=properties/*/conversionEvents/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/conversionEventId'
    get:
      tags:
      - v1alpha.properties.conversionEvents
      summary: 'Deprecated: Use `GetKeyEvent` instead.'
      description: 'Deprecated: Use `GetKeyEvent` instead.


        Original Google API path template: `/v1alpha/{name=properties/*/conversionEvents/*}`'
      operationId: v1alphaPropertiesConversionEventsGet
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.conversionEvents/get (deprecated)
      x-google-path-template: /v1alpha/{name=properties/*/conversionEvents/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/conversionEventId'
    patch:
      tags:
      - v1alpha.properties.conversionEvents
      summary: 'Deprecated: Use `UpdateKeyEvent` instead.'
      description: 'Deprecated: Use `UpdateKeyEvent` instead.


        Original Google API path template: `/v1alpha/{conversionEvent.name=properties/*/conversionEvents/*}`'
      operationId: v1alphaPropertiesConversionEventsPatch
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.conversionEvents/patch (deprecated)
      x-google-path-template: /v1alpha/{conversionEvent.name=properties/*/conversionEvents/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/conversionEventId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/customDimensions:
    post:
      tags:
      - v1alpha.properties.customDimensions
      summary: Creates a CustomDimension.
      description: 'Creates a CustomDimension.


        Original Google API path template: `/v1alpha/{parent=properties/*}/customDimensions`'
      operationId: v1alphaPropertiesCustomDimensionsCreate
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.customDimensions/create
      x-google-path-template: /v1alpha/{parent=properties/*}/customDimensions
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
    get:
      tags:
      - v1alpha.properties.customDimensions
      summary: Lists CustomDimensions on a property.
      description: 'Lists CustomDimensions on a property.


        Original Google API path template: `/v1alpha/{parent=properties/*}/customDimensions`'
      operationId: v1alphaPropertiesCustomDimensionsList
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.customDimensions/list
      x-google-path-template: /v1alpha/{parent=properties/*}/customDimensions
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
  /v1alpha/properties/{propertyId}/customDimensions/{customDimensionId}:
    get:
      tags:
      - v1alpha.properties.customDimensions
      summary: Lookup for a single CustomDimension.
      description: 'Lookup for a single CustomDimension.


        Original Google API path template: `/v1alpha/{name=properties/*/customDimensions/*}`'
      operationId: v1alphaPropertiesCustomDimensionsGet
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.customDimensions/get
      x-google-path-template: /v1alpha/{name=properties/*/customDimensions/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/customDimensionId'
    patch:
      tags:
      - v1alpha.properties.customDimensions
      summary: Updates a CustomDimension on a property.
      description: 'Updates a CustomDimension on a property.


        Original Google API path template: `/v1alpha/{customDimension.name=properties/*/customDimensions/*}`'
      operationId: v1alphaPropertiesCustomDimensionsPatch
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.customDimensions/patch
      x-google-path-template: /v1alpha/{customDimension.name=properties/*/customDimensions/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/customDimensionId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/customDimensions/{customDimensionId}:archive:
    post:
      tags:
      - v1alpha.properties.customDimensions
      summary: Archives a CustomDimension on a property.
      description: 'Archives a CustomDimension on a property.


        Original Google API path template: `/v1alpha/{name=properties/*/customDimensions/*}:archive`'
      operationId: v1alphaPropertiesCustomDimensionsArchive
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.customDimensions/archive
      x-google-path-template: /v1alpha/{name=properties/*/customDimensions/*}:archive
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/customDimensionId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/customMetrics:
    post:
      tags:
      - v1alpha.properties.customMetrics
      summary: Creates a CustomMetric.
      description: 'Creates a CustomMetric.


        Original Google API path template: `/v1alpha/{parent=properties/*}/customMetrics`'
      operationId: v1alphaPropertiesCustomMetricsCreate
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.customMetrics/create
      x-google-path-template: /v1alpha/{parent=properties/*}/customMetrics
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
    get:
      tags:
      - v1alpha.properties.customMetrics
      summary: Lists CustomMetrics on a property.
      description: 'Lists CustomMetrics on a property.


        Original Google API path template: `/v1alpha/{parent=properties/*}/customMetrics`'
      operationId: v1alphaPropertiesCustomMetricsList
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.customMetrics/list
      x-google-path-template: /v1alpha/{parent=properties/*}/customMetrics
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
  /v1alpha/properties/{propertyId}/customMetrics/{customMetricId}:
    get:
      tags:
      - v1alpha.properties.customMetrics
      summary: Lookup for a single CustomMetric.
      description: 'Lookup for a single CustomMetric.


        Original Google API path template: `/v1alpha/{name=properties/*/customMetrics/*}`'
      operationId: v1alphaPropertiesCustomMetricsGet
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.customMetrics/get
      x-google-path-template: /v1alpha/{name=properties/*/customMetrics/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/customMetricId'
    patch:
      tags:
      - v1alpha.properties.customMetrics
      summary: Updates a CustomMetric on a property.
      description: 'Updates a CustomMetric on a property.


        Original Google API path template: `/v1alpha/{customMetric.name=properties/*/customMetrics/*}`'
      operationId: v1alphaPropertiesCustomMetricsPatch
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.customMetrics/patch
      x-google-path-template: /v1alpha/{customMetric.name=properties/*/customMetrics/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/customMetricId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/customMetrics/{customMetricId}:archive:
    post:
      tags:
      - v1alpha.properties.customMetrics
      summary: Archives a CustomMetric on a property.
      description: 'Archives a CustomMetric on a property.


        Original Google API path template: `/v1alpha/{name=properties/*/customMetrics/*}:archive`'
      operationId: v1alphaPropertiesCustomMetricsArchive
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.customMetrics/archive
      x-google-path-template: /v1alpha/{name=properties/*/customMetrics/*}:archive
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/customMetricId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/dataRetentionSettings:
    get:
      tags:
      - v1alpha.properties
      summary: Returns the singleton data retention settings for this property.
      description: 'Returns the singleton data retention settings for this property.


        Original Google API path template: `/v1alpha/{name=properties/*/dataRetentionSettings}`'
      operationId: v1alphaPropertiesGetDataRetentionSettings
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties/getDataRetentionSettings
      x-google-path-template: /v1alpha/{name=properties/*/dataRetentionSettings}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
    patch:
      tags:
      - v1alpha.properties
      summary: Updates the singleton data retention settings for this property.
      description: 'Updates the singleton data retention settings for this property.


        Original Google API path template: `/v1alpha/{dataRetentionSettings.name=properties/*/dataRetentionSettings}`'
      operationId: v1alphaPropertiesUpdateDataRetentionSettings
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties/updateDataRetentionSettings
      x-google-path-template: /v1alpha/{dataRetentionSettings.name=properties/*/dataRetentionSettings}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/dataStreams:
    post:
      tags:
      - v1alpha.properties.dataStreams
      summary: Creates a DataStream.
      description: 'Creates a DataStream.


        Original Google API path template: `/v1alpha/{parent=properties/*}/dataStreams`'
      operationId: v1alphaPropertiesDataStreamsCreate
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.dataStreams/create
      x-google-path-template: /v1alpha/{parent=properties/*}/dataStreams
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
    get:
      tags:
      - v1alpha.properties.dataStreams
      summary: Lists DataStreams on a property.
      description: 'Lists DataStreams on a property.


        Original Google API path template: `/v1alpha/{parent=properties/*}/dataStreams`'
      operationId: v1alphaPropertiesDataStreamsList
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.dataStreams/list
      x-google-path-template: /v1alpha/{parent=properties/*}/dataStreams
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
  /v1alpha/properties/{propertyId}/dataStreams/{dataStreamId}:
    delete:
      tags:
      - v1alpha.properties.dataStreams
      summary: Deletes a DataStream on a property.
      description: 'Deletes a DataStream on a property.


        Original Google API path template: `/v1alpha/{name=properties/*/dataStreams/*}`'
      operationId: v1alphaPropertiesDataStreamsDelete
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.dataStreams/delete
      x-google-path-template: /v1alpha/{name=properties/*/dataStreams/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/dataStreamId'
    get:
      tags:
      - v1alpha.properties.dataStreams
      summary: Lookup for a single DataStream.
      description: 'Lookup for a single DataStream.


        Original Google API path template: `/v1alpha/{name=properties/*/dataStreams/*}`'
      operationId: v1alphaPropertiesDataStreamsGet
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.dataStreams/get
      x-google-path-template: /v1alpha/{name=properties/*/dataStreams/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/dataStreamId'
    patch:
      tags:
      - v1alpha.properties.dataStreams
      summary: Updates a DataStream on a property.
      description: 'Updates a DataStream on a property.


        Original Google API path template: `/v1alpha/{dataStream.name=properties/*/dataStreams/*}`'
      operationId: v1alphaPropertiesDataStreamsPatch
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.dataStreams/patch
      x-google-path-template: /v1alpha/{dataStream.name=properties/*/dataStreams/*}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/dataStreamId'
      requestBody:
        required: false
        description: Placeholder request body schema. The source markdown does not include field-level request body definitions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
  /v1alpha/properties/{propertyId}/dataStreams/{dataStreamId}/dataRedactionSettings:
    get:
      tags:
      - v1alpha.properties.dataStreams
      summary: Lookup for a single DataRedactionSettings.
      description: 'Lookup for a single DataRedactionSettings.


        Original Google API path template: `/v1alpha/{name=properties/*/dataStreams/*/dataRedactionSettings}`'
      operationId: v1alphaPropertiesDataStreamsGetDataRedactionSettings
      externalDocs:
        url: https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.dataStreams/getDataRedactionSettings
      x-google-path-template: /v1alpha/{name=properties/*/dataStreams/*/dataRedactionSettings}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/dataStreamId'
    patch:
      tags:
      - v1alpha.properties.dataStreams
      summary: Updates a DataRedactionSettings on a property.
      description: 'Updates a DataRedactionSettings on a property.


[...]
