openapi: 3.1.0
info:
  title: Google Tag Manager API
  version: 2026-03-09-unofficial
  summary: OpenAPI 3.1 description for the Google Tag Manager REST API (v1 and v2).
  description: Generated from the published Google Tag Manager REST resource catalogue and Discovery documents, then normalised into explicit flat paths that OpenAPI tooling can consume. Google publishes Discovery-format descriptions rather than a first-party OpenAPI file. This spec includes both v1 and v2 resources and the current v2 workspaces.bulk_update method.
servers:
- url: https://tagmanager.googleapis.com
security:
- bearerAuth: []
tags:
- name: v2.accounts
- name: v2.accounts.containers
- name: v2.accounts.containers.destinations
- name: v2.accounts.containers.environments
- name: v2.accounts.containers.version_headers
- name: v2.accounts.containers.versions
- name: v2.accounts.containers.workspaces
- name: v2.accounts.containers.workspaces.built_in_variables
- name: v2.accounts.containers.workspaces.clients
- name: v2.accounts.containers.workspaces.folders
- name: v2.accounts.containers.workspaces.gtag_config
- name: v2.accounts.containers.workspaces.tags
- name: v2.accounts.containers.workspaces.templates
- name: v2.accounts.containers.workspaces.transformations
- name: v2.accounts.containers.workspaces.triggers
- name: v2.accounts.containers.workspaces.variables
- name: v2.accounts.containers.workspaces.zones
- name: v2.accounts.user_permissions
- name: v1.accounts
- name: v1.accounts.containers
- name: v1.accounts.containers.environments
- name: v1.accounts.containers.folders
- name: v1.accounts.containers.folders.entities
- name: v1.accounts.containers.move_folders
- name: v1.accounts.containers.reauthorize_environments
- name: v1.accounts.containers.tags
- name: v1.accounts.containers.triggers
- name: v1.accounts.containers.variables
- name: v1.accounts.containers.versions
- name: v1.accounts.permissions
externalDocs:
  description: Official Google Tag Manager REST API reference
  url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest
paths:
  /tagmanager/v2/accounts/{accountId}:
    get:
      tags:
      - v2.accounts
      summary: Gets a GTM Account.
      operationId: v2_accounts_get
      description: Gets a GTM Account.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts/get
      parameters:
      - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    put:
      tags:
      - v2.accounts
      summary: Updates a GTM Account.
      operationId: v2_accounts_update
      description: Updates a GTM Account.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts/update
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/fingerprint'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts:
    get:
      tags:
      - v2.accounts
      summary: Lists all GTM Accounts that a user has access to.
      operationId: v2_accounts_list
      description: Lists all GTM Accounts that a user has access to.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts/list
      parameters:
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}:combine:
    post:
      tags:
      - v2.accounts.containers
      summary: Combines Containers.
      operationId: v2_accounts_containers_combine
      description: Combines Containers.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers/combine
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombineContainerResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers:
    post:
      tags:
      - v2.accounts.containers
      summary: Creates a Container.
      operationId: v2_accounts_containers_create
      description: Creates a Container.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers/create
      parameters:
      - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Container'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Container'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers
      summary: Lists all Containers that belongs to a GTM Account.
      operationId: v2_accounts_containers_list
      description: Lists all Containers that belongs to a GTM Account.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers/list
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContainersResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}:
    delete:
      tags:
      - v2.accounts.containers
      summary: Deletes a Container.
      operationId: v2_accounts_containers_delete
      description: Deletes a Container.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers/delete
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers
      summary: Gets a Container.
      operationId: v2_accounts_containers_get
      description: Gets a Container.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers/get
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Container'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    put:
      tags:
      - v2.accounts.containers
      summary: Updates a Container.
      operationId: v2_accounts_containers_update
      description: Updates a Container.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers/update
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/fingerprint'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Container'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Container'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/containers:lookup:
    get:
      tags:
      - v2.accounts.containers
      summary: Looks up a Container by destination ID or tag ID.
      operationId: v2_accounts_containers_lookup
      description: Looks up a Container by destination ID or tag ID.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers/lookup
      parameters:
      - $ref: '#/components/parameters/lookupDestinationId'
      - $ref: '#/components/parameters/lookupTagId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Container'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}:move_tag_id:
    post:
      tags:
      - v2.accounts.containers
      summary: Move Tag ID out of a Container.
      operationId: v2_accounts_containers_move_tag_id
      description: Move Tag ID out of a Container.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers/move_tag_id
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveTagIdResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}:snippet:
    get:
      tags:
      - v2.accounts.containers
      summary: Gets the tagging snippet for a Container.
      operationId: v2_accounts_containers_snippet
      description: Gets the tagging snippet for a Container.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers/snippet
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnippetResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/destinations/{destinationId}:
    get:
      tags:
      - v2.accounts.containers.destinations
      summary: Gets a Destination.
      operationId: v2_accounts_containers_destinations_get
      description: Gets a Destination.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.destinations/get
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/destinationId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Destination'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/destinations:link:
    post:
      tags:
      - v2.accounts.containers.destinations
      summary: Adds a Destination to this Container and removes it from the Container to which it is currently linked.
      operationId: v2_accounts_containers_destinations_link
      description: Adds a Destination to this Container and removes it from the Container to which it is currently linked.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.destinations/link
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/linkDestinationId'
      - $ref: '#/components/parameters/allowUserPermissionFeatureUpdate'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Destination'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/destinations:
    get:
      tags:
      - v2.accounts.containers.destinations
      summary: Lists all Destinations linked to a GTM Container.
      operationId: v2_accounts_containers_destinations_list
      description: Lists all Destinations linked to a GTM Container.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.destinations/list
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDestinationsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/environments:
    post:
      tags:
      - v2.accounts.containers.environments
      summary: Creates a GTM Environment.
      operationId: v2_accounts_containers_environments_create
      description: Creates a GTM Environment.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.environments/create
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.environments
      summary: Lists all GTM Environments of a GTM Container.
      operationId: v2_accounts_containers_environments_list
      description: Lists all GTM Environments of a GTM Container.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.environments/list
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEnvironmentsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/environments/{environmentId}:
    delete:
      tags:
      - v2.accounts.containers.environments
      summary: Deletes a GTM Environment.
      operationId: v2_accounts_containers_environments_delete
      description: Deletes a GTM Environment.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.environments/delete
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.environments
      summary: Gets a GTM Environment.
      operationId: v2_accounts_containers_environments_get
      description: Gets a GTM Environment.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.environments/get
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    put:
      tags:
      - v2.accounts.containers.environments
      summary: Updates a GTM Environment.
      operationId: v2_accounts_containers_environments_update
      description: Updates a GTM Environment.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.environments/update
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/fingerprint'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/environments/{environmentId}:reauthorize:
    post:
      tags:
      - v2.accounts.containers.environments
      summary: Re-generates the authorization code for a GTM Environment.
      operationId: v2_accounts_containers_environments_reauthorize
      description: Re-generates the authorization code for a GTM Environment.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.environments/reauthorize
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/version_headers:latest:
    get:
      tags:
      - v2.accounts.containers.version_headers
      summary: Gets the latest container version header
      operationId: v2_accounts_containers_version_headers_latest
      description: Gets the latest container version header
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.version_headers/latest
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerVersionHeader'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/version_headers:
    get:
      tags:
      - v2.accounts.containers.version_headers
      summary: Lists all Container Versions of a GTM Container.
      operationId: v2_accounts_containers_version_headers_list
      description: Lists all Container Versions of a GTM Container.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.version_headers/list
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContainerVersionHeadersResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}:
    delete:
      tags:
      - v2.accounts.containers.versions
      summary: Deletes a Container Version.
      operationId: v2_accounts_containers_versions_delete
      description: Deletes a Container Version.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.versions/delete
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/containerVersionId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.versions
      summary: Gets a Container Version.
      operationId: v2_accounts_containers_versions_get
      description: Gets a Container Version.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.versions/get
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/containerVersionId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerVersion'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    put:
      tags:
      - v2.accounts.containers.versions
      summary: Updates a Container Version.
      operationId: v2_accounts_containers_versions_update
      description: Updates a Container Version.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.versions/update
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/containerVersionId'
      - $ref: '#/components/parameters/fingerprint'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerVersion'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerVersion'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/versions:live:
    get:
      tags:
      - v2.accounts.containers.versions
      summary: Gets the live (i.e.
      operationId: v2_accounts_containers_versions_live
      description: Gets the live (i.e.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.versions/live
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerVersion'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}:publish:
    post:
      tags:
      - v2.accounts.containers.versions
      summary: Publishes a Container Version.
      operationId: v2_accounts_containers_versions_publish
      description: Publishes a Container Version.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.versions/publish
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/containerVersionId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishContainerVersionResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}:set_latest:
    post:
      tags:
      - v2.accounts.containers.versions
      summary: Sets the latest version used for synchronization of workspaces when detecting conflicts and errors.
      operationId: v2_accounts_containers_versions_set_latest
      description: Sets the latest version used for synchronization of workspaces when detecting conflicts and errors.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.versions/set_latest
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/containerVersionId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerVersion'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}:undelete:
    post:
      tags:
      - v2.accounts.containers.versions
      summary: Undeletes a Container Version.
      operationId: v2_accounts_containers_versions_undelete
      description: Undeletes a Container Version.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.versions/undelete
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/containerVersionId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces:
    post:
      tags:
      - v2.accounts.containers.workspaces
      summary: Creates a Workspace.
      operationId: v2_accounts_containers_workspaces_create
      description: Creates a Workspace.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces/create
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces
      summary: Lists all Workspaces that belong to a GTM Container.
      operationId: v2_accounts_containers_workspaces_list
      description: Lists all Workspaces that belong to a GTM Container.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces/list
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkspacesResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}:create_version:
    post:
      tags:
      - v2.accounts.containers.workspaces
      summary: Creates a Container Version from the entities present in the workspace, deletes the workspace, and sets the base container version to the newly created version.
      operationId: v2_accounts_containers_workspaces_create_version
      description: Creates a Container Version from the entities present in the workspace, deletes the workspace, and sets the base container version to the newly created version.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces/create_version
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateContainerVersionResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}:
    delete:
      tags:
      - v2.accounts.containers.workspaces
      summary: Deletes a Workspace.
      operationId: v2_accounts_containers_workspaces_delete
      description: Deletes a Workspace.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces/delete
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces
      summary: Gets a Workspace.
      operationId: v2_accounts_containers_workspaces_get
      description: Gets a Workspace.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces/get
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    put:
      tags:
      - v2.accounts.containers.workspaces
      summary: Updates a Workspace.
      operationId: v2_accounts_containers_workspaces_update
      description: Updates a Workspace.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces/update
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/fingerprint'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/status:
    get:
      tags:
      - v2.accounts.containers.workspaces
      summary: Finds conflicting and modified entities in the workspace.
      operationId: v2_accounts_containers_workspaces_getStatus
      description: Finds conflicting and modified entities in the workspace.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces/getStatus
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWorkspaceStatusResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}:quick_preview:
    post:
      tags:
      - v2.accounts.containers.workspaces
      summary: Quick previews a workspace by creating a fake container version from all entities in the provided workspace.
      operationId: v2_accounts_containers_workspaces_quick_preview
      description: Quick previews a workspace by creating a fake container version from all entities in the provided workspace.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces/quick_preview
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuickPreviewResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}:resolve_conflict:
    post:
      tags:
      - v2.accounts.containers.workspaces
      summary: Resolves a merge conflict for a workspace entity by updating it to the resolved entity passed in the request.
      operationId: v2_accounts_containers_workspaces_resolve_conflict
      description: Resolves a merge conflict for a workspace entity by updating it to the resolved entity passed in the request.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces/resolve_conflict
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entity'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveConflictResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}:sync:
    post:
      tags:
      - v2.accounts.containers.workspaces
      summary: Syncs a workspace to the latest container version by updating all unmodified workspace entities and displaying conflicts for modified entities.
      operationId: v2_accounts_containers_workspaces_sync
      description: Syncs a workspace to the latest container version by updating all unmodified workspace entities and displaying conflicts for modified entities.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces/sync
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncWorkspaceResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/built_in_variables:
    post:
      tags:
      - v2.accounts.containers.workspaces.built_in_variables
      summary: Creates one or more GTM Built-In Variables.
      operationId: v2_accounts_containers_workspaces_built_in_variables_create
      description: Creates one or more GTM Built-In Variables.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.built_in_variables/create
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/builtInVariableTypes'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuiltInVariable'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBuiltInVariablesResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    delete:
      tags:
      - v2.accounts.containers.workspaces.built_in_variables
      summary: Deletes one or more GTM Built-In Variables.
      operationId: v2_accounts_containers_workspaces_built_in_variables_delete
      description: Deletes one or more GTM Built-In Variables.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.built_in_variables/delete
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/builtInVariableTypes'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces.built_in_variables
      summary: Lists all the enabled Built-In Variables of a GTM Container.
      operationId: v2_accounts_containers_workspaces_built_in_variables_list
      description: Lists all the enabled Built-In Variables of a GTM Container.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.built_in_variables/list
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBuiltInVariablesResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/built_in_variables:revert:
    post:
      tags:
      - v2.accounts.containers.workspaces.built_in_variables
      summary: Reverts changes to a GTM Built-In Variables in a GTM Workspace.
      operationId: v2_accounts_containers_workspaces_built_in_variables_revert
      description: Reverts changes to a GTM Built-In Variables in a GTM Workspace.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.built_in_variables/revert
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/builtInVariableType'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevertBuiltInVariableResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/clients:
    post:
      tags:
      - v2.accounts.containers.workspaces.clients
      summary: Creates a GTM Client.
      operationId: v2_accounts_containers_workspaces_clients_create
      description: Creates a GTM Client.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.clients/create
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces.clients
      summary: Lists all GTM Clients of a GTM container workspace.
      operationId: v2_accounts_containers_workspaces_clients_list
      description: Lists all GTM Clients of a GTM container workspace.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.clients/list
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListClientsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/clients/{clientId}:
    delete:
      tags:
      - v2.accounts.containers.workspaces.clients
      summary: Deletes a GTM Client.
      operationId: v2_accounts_containers_workspaces_clients_delete
      description: Deletes a GTM Client.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.clients/delete
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/clientId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces.clients
      summary: Gets a GTM Client.
      operationId: v2_accounts_containers_workspaces_clients_get
      description: Gets a GTM Client.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.clients/get
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/clientId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    put:
      tags:
      - v2.accounts.containers.workspaces.clients
      summary: Updates a GTM Client.
      operationId: v2_accounts_containers_workspaces_clients_update
      description: Updates a GTM Client.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.clients/update
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/clientId'
      - $ref: '#/components/parameters/fingerprint'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/clients/{clientId}:revert:
    post:
      tags:
      - v2.accounts.containers.workspaces.clients
      summary: Reverts changes to a GTM Client in a GTM Workspace.
      operationId: v2_accounts_containers_workspaces_clients_revert
      description: Reverts changes to a GTM Client in a GTM Workspace.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.clients/revert
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/clientId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevertClientResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/folders:
    post:
      tags:
      - v2.accounts.containers.workspaces.folders
      summary: Creates a GTM Folder.
      operationId: v2_accounts_containers_workspaces_folders_create
      description: Creates a GTM Folder.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.folders/create
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Folder'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces.folders
      summary: Lists all GTM Folders of a Container.
      operationId: v2_accounts_containers_workspaces_folders_list
      description: Lists all GTM Folders of a Container.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.folders/list
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFoldersResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/folders/{folderId}:
    delete:
      tags:
      - v2.accounts.containers.workspaces.folders
      summary: Deletes a GTM Folder.
      operationId: v2_accounts_containers_workspaces_folders_delete
      description: Deletes a GTM Folder.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.folders/delete
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/folderId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces.folders
      summary: Gets a GTM Folder.
      operationId: v2_accounts_containers_workspaces_folders_get
      description: Gets a GTM Folder.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.folders/get
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/folderId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    put:
      tags:
      - v2.accounts.containers.workspaces.folders
      summary: Updates a GTM Folder.
      operationId: v2_accounts_containers_workspaces_folders_update
      description: Updates a GTM Folder.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.folders/update
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/folderId'
      - $ref: '#/components/parameters/fingerprint'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Folder'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/folders/{folderId}:entities:
    post:
      tags:
      - v2.accounts.containers.workspaces.folders
      summary: List all entities in a GTM Folder.
      operationId: v2_accounts_containers_workspaces_folders_entities
      description: List all entities in a GTM Folder.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.folders/entities
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/folderId'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderEntitiesResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  ? /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/folders/{folderId}:move_entities_to_folder
  : post:
      tags:
      - v2.accounts.containers.workspaces.folders
      summary: Moves entities to a GTM Folder.
      operationId: v2_accounts_containers_workspaces_folders_move_entities_to_folder
      description: Moves entities to a GTM Folder.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.folders/move_entities_to_folder
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/folderId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveEntitiesToFolderResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/folders/{folderId}:revert:
    post:
      tags:
      - v2.accounts.containers.workspaces.folders
      summary: Reverts changes to a GTM Folder in a GTM Workspace.
      operationId: v2_accounts_containers_workspaces_folders_revert
      description: Reverts changes to a GTM Folder in a GTM Workspace.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.folders/revert
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/folderId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevertFolderResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/gtag_config:
    post:
      tags:
      - v2.accounts.containers.workspaces.gtag_config
      summary: Creates a Google tag config.
      operationId: v2_accounts_containers_workspaces_gtag_config_create
      description: Creates a Google tag config.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.gtag_config/create
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GtagConfig'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GtagConfig'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces.gtag_config
      summary: Lists all Google tag configs in a Container.
      operationId: v2_accounts_containers_workspaces_gtag_config_list
      description: Lists all Google tag configs in a Container.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.gtag_config/list
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGtagConfigsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/gtag_config/{gtagConfigId}:
    delete:
      tags:
      - v2.accounts.containers.workspaces.gtag_config
      summary: Deletes a Google tag config.
      operationId: v2_accounts_containers_workspaces_gtag_config_delete
      description: Deletes a Google tag config.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.gtag_config/delete
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/gtagConfigId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces.gtag_config
      summary: Gets a Google tag config.
      operationId: v2_accounts_containers_workspaces_gtag_config_get
      description: Gets a Google tag config.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.gtag_config/get
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/gtagConfigId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GtagConfig'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    put:
      tags:
      - v2.accounts.containers.workspaces.gtag_config
      summary: Updates a Google tag config.
      operationId: v2_accounts_containers_workspaces_gtag_config_update
      description: Updates a Google tag config.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.gtag_config/update
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/gtagConfigId'
      - $ref: '#/components/parameters/fingerprint'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GtagConfig'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GtagConfig'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/tags:
    post:
      tags:
      - v2.accounts.containers.workspaces.tags
      summary: Creates a GTM Tag.
      operationId: v2_accounts_containers_workspaces_tags_create
      description: Creates a GTM Tag.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.tags/create
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces.tags
      summary: Lists all GTM Tags of a Container.
      operationId: v2_accounts_containers_workspaces_tags_list
      description: Lists all GTM Tags of a Container.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.tags/list
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTagsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/tags/{tagId}:
    delete:
      tags:
      - v2.accounts.containers.workspaces.tags
      summary: Deletes a GTM Tag.
      operationId: v2_accounts_containers_workspaces_tags_delete
      description: Deletes a GTM Tag.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.tags/delete
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/tagId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces.tags
      summary: Gets a GTM Tag.
      operationId: v2_accounts_containers_workspaces_tags_get
      description: Gets a GTM Tag.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.tags/get
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/tagId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    put:
      tags:
      - v2.accounts.containers.workspaces.tags
      summary: Updates a GTM Tag.
      operationId: v2_accounts_containers_workspaces_tags_update
      description: Updates a GTM Tag.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.tags/update
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/tagId'
      - $ref: '#/components/parameters/fingerprint'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/tags/{tagId}:revert:
    post:
      tags:
      - v2.accounts.containers.workspaces.tags
      summary: Reverts changes to a GTM Tag in a GTM Workspace.
      operationId: v2_accounts_containers_workspaces_tags_revert
      description: Reverts changes to a GTM Tag in a GTM Workspace.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.tags/revert
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/tagId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevertTagResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/templates:
    post:
      tags:
      - v2.accounts.containers.workspaces.templates
      summary: Creates a GTM Custom Template.
      operationId: v2_accounts_containers_workspaces_templates_create
      description: Creates a GTM Custom Template.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.templates/create
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomTemplate'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomTemplate'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces.templates
      summary: Lists all GTM Templates of a GTM container workspace.
      operationId: v2_accounts_containers_workspaces_templates_list
      description: Lists all GTM Templates of a GTM container workspace.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.templates/list
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTemplatesResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/templates/{templateId}:
    delete:
      tags:
      - v2.accounts.containers.workspaces.templates
      summary: Deletes a GTM Template.
      operationId: v2_accounts_containers_workspaces_templates_delete
      description: Deletes a GTM Template.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.templates/delete
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/templateId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces.templates
      summary: Gets a GTM Template.
      operationId: v2_accounts_containers_workspaces_templates_get
      description: Gets a GTM Template.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.templates/get
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/templateId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomTemplate'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    put:
      tags:
      - v2.accounts.containers.workspaces.templates
      summary: Updates a GTM Template.
      operationId: v2_accounts_containers_workspaces_templates_update
      description: Updates a GTM Template.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.templates/update
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/templateId'
      - $ref: '#/components/parameters/fingerprint'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomTemplate'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomTemplate'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/templates:import_from_gallery:
    post:
      tags:
      - v2.accounts.containers.workspaces.templates
      summary: Imports a GTM Custom Template from Gallery.
      operationId: v2_accounts_containers_workspaces_templates_import_from_gallery
      description: Imports a GTM Custom Template from Gallery.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.templates/import_from_gallery
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomTemplate'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/templates/{templateId}:revert:
    post:
      tags:
      - v2.accounts.containers.workspaces.templates
      summary: Reverts changes to a GTM Template in a GTM Workspace.
      operationId: v2_accounts_containers_workspaces_templates_revert
      description: Reverts changes to a GTM Template in a GTM Workspace.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.templates/revert
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/templateId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevertTemplateResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/transformations:
    post:
      tags:
      - v2.accounts.containers.workspaces.transformations
      summary: Creates a GTM Transformation.
      operationId: v2_accounts_containers_workspaces_transformations_create
      description: Creates a GTM Transformation.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.transformations/create
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transformation'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transformation'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces.transformations
      summary: Lists all GTM Transformations of a GTM container workspace.
      operationId: v2_accounts_containers_workspaces_transformations_list
      description: Lists all GTM Transformations of a GTM container workspace.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.transformations/list
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransformationsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/transformations/{transformationId}:
    delete:
      tags:
      - v2.accounts.containers.workspaces.transformations
      summary: Deletes a GTM Transformation.
      operationId: v2_accounts_containers_workspaces_transformations_delete
      description: Deletes a GTM Transformation.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.transformations/delete
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/transformationId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces.transformations
      summary: Gets a GTM Transformation.
      operationId: v2_accounts_containers_workspaces_transformations_get
      description: Gets a GTM Transformation.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.transformations/get
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/transformationId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transformation'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    put:
      tags:
      - v2.accounts.containers.workspaces.transformations
      summary: Updates a GTM Transformation.
      operationId: v2_accounts_containers_workspaces_transformations_update
      description: Updates a GTM Transformation.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.transformations/update
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/transformationId'
      - $ref: '#/components/parameters/fingerprint'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transformation'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transformation'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  ? /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/transformations/{transformationId}:revert
  : post:
      tags:
      - v2.accounts.containers.workspaces.transformations
      summary: Reverts changes to a GTM Transformation in a GTM Workspace.
      operationId: v2_accounts_containers_workspaces_transformations_revert
      description: Reverts changes to a GTM Transformation in a GTM Workspace.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.transformations/revert
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/transformationId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevertTransformationResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/triggers:
    post:
      tags:
      - v2.accounts.containers.workspaces.triggers
      summary: Creates a GTM Trigger.
      operationId: v2_accounts_containers_workspaces_triggers_create
      description: Creates a GTM Trigger.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.triggers/create
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Trigger'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces.triggers
      summary: Lists all GTM Triggers of a Container.
      operationId: v2_accounts_containers_workspaces_triggers_list
      description: Lists all GTM Triggers of a Container.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.triggers/list
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTriggersResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/triggers/{triggerId}:
    delete:
      tags:
      - v2.accounts.containers.workspaces.triggers
      summary: Deletes a GTM Trigger.
      operationId: v2_accounts_containers_workspaces_triggers_delete
      description: Deletes a GTM Trigger.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.triggers/delete
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/triggerId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces.triggers
      summary: Gets a GTM Trigger.
      operationId: v2_accounts_containers_workspaces_triggers_get
      description: Gets a GTM Trigger.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.triggers/get
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/triggerId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    put:
      tags:
      - v2.accounts.containers.workspaces.triggers
      summary: Updates a GTM Trigger.
      operationId: v2_accounts_containers_workspaces_triggers_update
      description: Updates a GTM Trigger.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.triggers/update
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/triggerId'
      - $ref: '#/components/parameters/fingerprint'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Trigger'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/triggers/{triggerId}:revert:
    post:
      tags:
      - v2.accounts.containers.workspaces.triggers
      summary: Reverts changes to a GTM Trigger in a GTM Workspace.
      operationId: v2_accounts_containers_workspaces_triggers_revert
      description: Reverts changes to a GTM Trigger in a GTM Workspace.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.triggers/revert
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/triggerId'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevertTriggerResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
  /tagmanager/v2/accounts/{accountId}/containers/{containerId}/workspaces/{workspaceId}/variables:
    post:
      tags:
      - v2.accounts.containers.workspaces.variables
      summary: Creates a GTM Variable.
      operationId: v2_accounts_containers_workspaces_variables_create
      description: Creates a GTM Variable.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.variables/create
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/containerId'
      - $ref: '#/components/parameters/workspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Variable'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variable'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleError'
    get:
      tags:
      - v2.accounts.containers.workspaces.variables
      summary: Lists all GTM Variables of a Container.
      operationId: v2_accounts_containers_workspaces_variables_list
      description: Lists all GTM Variables of a Container.
      x-google-doc-url: https://developers.google.com/tag-platform/tag-manager/api/reference/rest/v2/accounts.containers.workspaces.variables/list
      parameters:
      - $ref: '#/components/parameters/accountId'
[...]
