openapi: 3.0.3
info:
  title: Google Merchant API (Derived OpenAPI)
  version: '2026-03-09'
  description: Generated from the Google Merchant API REST resource index. This specification captures the published REST paths, HTTP methods, tags, and summaries across the Merchant API sub-APIs listed in the index. Because the source markdown/index does not include full request and response schemas for every method, request bodies and success responses use a generic `RawJson` schema. The non-standard `NONE /devdocs/mcp/**` entry from the index is intentionally omitted because it does not map to a standard OpenAPI HTTP operation.
servers:
- url: https://merchantapi.googleapis.com
  description: Google Merchant API production endpoint
externalDocs:
  description: Official Google Merchant API REST reference
  url: https://developers.google.com/merchant/api/reference/rest
security:
- BearerAuth: []
tags:
- name: accounts_v1
  description: Accounts sub-API (v1).
- name: accounts_v1alpha
  description: Accounts sub-API (v1alpha).
- name: accounts_v1beta
  description: Accounts sub-API (v1beta).
- name: conversions_v1
  description: Conversions sub-API (v1).
- name: conversions_v1beta
  description: Conversions sub-API (v1beta).
- name: datasources_v1
  description: Datasources sub-API (v1).
- name: datasources_v1beta
  description: Datasources sub-API (v1beta).
- name: inventories_v1
  description: Inventories sub-API (v1).
- name: inventories_v1beta
  description: Inventories sub-API (v1beta).
- name: issueresolution_v1
  description: Issueresolution sub-API (v1).
- name: issueresolution_v1beta
  description: Issueresolution sub-API (v1beta).
- name: lfp_v1
  description: Lfp sub-API (v1).
- name: lfp_v1beta
  description: Lfp sub-API (v1beta).
- name: notifications_v1
  description: Notifications sub-API (v1).
- name: notifications_v1beta
  description: Notifications sub-API (v1beta).
- name: ordertracking_v1
  description: Ordertracking sub-API (v1).
- name: ordertracking_v1beta
  description: Ordertracking sub-API (v1beta).
- name: products_v1
  description: Products sub-API (v1).
- name: products_v1beta
  description: Products sub-API (v1beta).
- name: productstudio_v1alpha
  description: Productstudio sub-API (v1alpha).
- name: promotions_v1
  description: Promotions sub-API (v1).
- name: promotions_v1beta
  description: Promotions sub-API (v1beta).
- name: quota_v1
  description: Quota sub-API (v1).
- name: quota_v1beta
  description: Quota sub-API (v1beta).
- name: reports_v1
  description: Reports sub-API (v1).
- name: reports_v1alpha
  description: Reports sub-API (v1alpha).
- name: reports_v1beta
  description: Reports sub-API (v1beta).
- name: reviews_v1alpha
  description: Reviews sub-API (v1alpha).
- name: reviews_v1beta
  description: Reviews sub-API (v1beta).
paths:
  /reviews/v1beta/accounts/{account}/merchantReviews/{merchantReview}:
    delete:
      tags:
      - reviews_v1beta
      operationId: reviews_v1beta_accounts_merchantReviews_delete
      summary: Deletes merchant review
      description: 'Derived from `reviews_v1beta.accounts.merchantReviews`.


        Original Google URI template: `/reviews/v1beta/{name=accounts/*/merchantReviews/*}`.


        Source summary: Deletes merchant review.'
      x-google-resource: reviews_v1beta.accounts.merchantReviews
      x-google-original-path-template: /reviews/v1beta/{name=accounts/*/merchantReviews/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: merchantReview
        in: path
        required: true
        description: Merchant review identifier.
        schema:
          type: string
    get:
      tags:
      - reviews_v1beta
      operationId: reviews_v1beta_accounts_merchantReviews_get
      summary: Gets a merchant review
      description: 'Derived from `reviews_v1beta.accounts.merchantReviews`.


        Original Google URI template: `/reviews/v1beta/{name=accounts/*/merchantReviews/*}`.


        Source summary: Gets a merchant review.'
      x-google-resource: reviews_v1beta.accounts.merchantReviews
      x-google-original-path-template: /reviews/v1beta/{name=accounts/*/merchantReviews/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: merchantReview
        in: path
        required: true
        description: Merchant review identifier.
        schema:
          type: string
  /reviews/v1beta/accounts/{account}/merchantReviews:insert:
    post:
      tags:
      - reviews_v1beta
      operationId: reviews_v1beta_accounts_merchantReviews_insert
      summary: Inserts a review for your Merchant Center account
      description: 'Derived from `reviews_v1beta.accounts.merchantReviews`.


        Original Google URI template: `/reviews/v1beta/{parent=accounts/*}/merchantReviews:insert`.


        Source summary: Inserts a review for your Merchant Center account.'
      x-google-resource: reviews_v1beta.accounts.merchantReviews
      x-google-original-path-template: /reviews/v1beta/{parent=accounts/*}/merchantReviews:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /reviews/v1beta/accounts/{account}/merchantReviews:
    get:
      tags:
      - reviews_v1beta
      operationId: reviews_v1beta_accounts_merchantReviews_list
      summary: Lists merchant reviews
      description: 'Derived from `reviews_v1beta.accounts.merchantReviews`.


        Original Google URI template: `/reviews/v1beta/{parent=accounts/*}/merchantReviews`.


        Source summary: Lists merchant reviews.'
      x-google-resource: reviews_v1beta.accounts.merchantReviews
      x-google-original-path-template: /reviews/v1beta/{parent=accounts/*}/merchantReviews
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /reviews/v1beta/accounts/{account}/productReviews/{productReview}:
    delete:
      tags:
      - reviews_v1beta
      operationId: reviews_v1beta_accounts_productReviews_delete
      summary: Deletes a product review
      description: 'Derived from `reviews_v1beta.accounts.productReviews`.


        Original Google URI template: `/reviews/v1beta/{name=accounts/*/productReviews/*}`.


        Source summary: Deletes a product review.'
      x-google-resource: reviews_v1beta.accounts.productReviews
      x-google-original-path-template: /reviews/v1beta/{name=accounts/*/productReviews/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: productReview
        in: path
        required: true
        description: Product review identifier.
        schema:
          type: string
    get:
      tags:
      - reviews_v1beta
      operationId: reviews_v1beta_accounts_productReviews_get
      summary: Gets a product review
      description: 'Derived from `reviews_v1beta.accounts.productReviews`.


        Original Google URI template: `/reviews/v1beta/{name=accounts/*/productReviews/*}`.


        Source summary: Gets a product review.'
      x-google-resource: reviews_v1beta.accounts.productReviews
      x-google-original-path-template: /reviews/v1beta/{name=accounts/*/productReviews/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: productReview
        in: path
        required: true
        description: Product review identifier.
        schema:
          type: string
  /reviews/v1beta/accounts/{account}/productReviews:insert:
    post:
      tags:
      - reviews_v1beta
      operationId: reviews_v1beta_accounts_productReviews_insert
      summary: Inserts a product review
      description: 'Derived from `reviews_v1beta.accounts.productReviews`.


        Original Google URI template: `/reviews/v1beta/{parent=accounts/*}/productReviews:insert`.


        Source summary: Inserts a product review.'
      x-google-resource: reviews_v1beta.accounts.productReviews
      x-google-original-path-template: /reviews/v1beta/{parent=accounts/*}/productReviews:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /reviews/v1beta/accounts/{account}/productReviews:
    get:
      tags:
      - reviews_v1beta
      operationId: reviews_v1beta_accounts_productReviews_list
      summary: Lists product reviews
      description: 'Derived from `reviews_v1beta.accounts.productReviews`.


        Original Google URI template: `/reviews/v1beta/{parent=accounts/*}/productReviews`.


        Source summary: Lists product reviews.'
      x-google-resource: reviews_v1beta.accounts.productReviews
      x-google-original-path-template: /reviews/v1beta/{parent=accounts/*}/productReviews
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /reviews/v1alpha/accounts/{account}/merchantReviews/{merchantReview}:
    delete:
      tags:
      - reviews_v1alpha
      operationId: reviews_v1alpha_accounts_merchantReviews_delete
      summary: Deletes merchant review
      description: 'Derived from `reviews_v1alpha.accounts.merchantReviews`.


        Original Google URI template: `/reviews/v1alpha/{name=accounts/*/merchantReviews/*}`.


        Source summary: Deletes merchant review.'
      x-google-resource: reviews_v1alpha.accounts.merchantReviews
      x-google-original-path-template: /reviews/v1alpha/{name=accounts/*/merchantReviews/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: merchantReview
        in: path
        required: true
        description: Merchant review identifier.
        schema:
          type: string
    get:
      tags:
      - reviews_v1alpha
      operationId: reviews_v1alpha_accounts_merchantReviews_get
      summary: Gets a merchant review
      description: 'Derived from `reviews_v1alpha.accounts.merchantReviews`.


        Original Google URI template: `/reviews/v1alpha/{name=accounts/*/merchantReviews/*}`.


        Source summary: Gets a merchant review.'
      x-google-resource: reviews_v1alpha.accounts.merchantReviews
      x-google-original-path-template: /reviews/v1alpha/{name=accounts/*/merchantReviews/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: merchantReview
        in: path
        required: true
        description: Merchant review identifier.
        schema:
          type: string
  /reviews/v1alpha/accounts/{account}/merchantReviews:insert:
    post:
      tags:
      - reviews_v1alpha
      operationId: reviews_v1alpha_accounts_merchantReviews_insert
      summary: Inserts a review for your Merchant Center account
      description: 'Derived from `reviews_v1alpha.accounts.merchantReviews`.


        Original Google URI template: `/reviews/v1alpha/{parent=accounts/*}/merchantReviews:insert`.


        Source summary: Inserts a review for your Merchant Center account.'
      x-google-resource: reviews_v1alpha.accounts.merchantReviews
      x-google-original-path-template: /reviews/v1alpha/{parent=accounts/*}/merchantReviews:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /reviews/v1alpha/accounts/{account}/merchantReviews:
    get:
      tags:
      - reviews_v1alpha
      operationId: reviews_v1alpha_accounts_merchantReviews_list
      summary: Lists merchant reviews
      description: 'Derived from `reviews_v1alpha.accounts.merchantReviews`.


        Original Google URI template: `/reviews/v1alpha/{parent=accounts/*}/merchantReviews`.


        Source summary: Lists merchant reviews.'
      x-google-resource: reviews_v1alpha.accounts.merchantReviews
      x-google-original-path-template: /reviews/v1alpha/{parent=accounts/*}/merchantReviews
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /reviews/v1alpha/accounts/{account}/productReviews/{productReview}:
    delete:
      tags:
      - reviews_v1alpha
      operationId: reviews_v1alpha_accounts_productReviews_delete
      summary: Deletes a product review
      description: 'Derived from `reviews_v1alpha.accounts.productReviews`.


        Original Google URI template: `/reviews/v1alpha/{name=accounts/*/productReviews/*}`.


        Source summary: Deletes a product review.'
      x-google-resource: reviews_v1alpha.accounts.productReviews
      x-google-original-path-template: /reviews/v1alpha/{name=accounts/*/productReviews/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: productReview
        in: path
        required: true
        description: Product review identifier.
        schema:
          type: string
    get:
      tags:
      - reviews_v1alpha
      operationId: reviews_v1alpha_accounts_productReviews_get
      summary: Gets a product review
      description: 'Derived from `reviews_v1alpha.accounts.productReviews`.


        Original Google URI template: `/reviews/v1alpha/{name=accounts/*/productReviews/*}`.


        Source summary: Gets a product review.'
      x-google-resource: reviews_v1alpha.accounts.productReviews
      x-google-original-path-template: /reviews/v1alpha/{name=accounts/*/productReviews/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: productReview
        in: path
        required: true
        description: Product review identifier.
        schema:
          type: string
  /reviews/v1alpha/accounts/{account}/productReviews:insert:
    post:
      tags:
      - reviews_v1alpha
      operationId: reviews_v1alpha_accounts_productReviews_insert
      summary: Inserts a product review
      description: 'Derived from `reviews_v1alpha.accounts.productReviews`.


        Original Google URI template: `/reviews/v1alpha/{parent=accounts/*}/productReviews:insert`.


        Source summary: Inserts a product review.'
      x-google-resource: reviews_v1alpha.accounts.productReviews
      x-google-original-path-template: /reviews/v1alpha/{parent=accounts/*}/productReviews:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /reviews/v1alpha/accounts/{account}/productReviews:
    get:
      tags:
      - reviews_v1alpha
      operationId: reviews_v1alpha_accounts_productReviews_list
      summary: Lists product reviews
      description: 'Derived from `reviews_v1alpha.accounts.productReviews`.


        Original Google URI template: `/reviews/v1alpha/{parent=accounts/*}/productReviews`.


        Source summary: Lists product reviews.'
      x-google-resource: reviews_v1alpha.accounts.productReviews
      x-google-original-path-template: /reviews/v1alpha/{parent=accounts/*}/productReviews
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /reports/v1beta/accounts/{account}/reports:search:
    post:
      tags:
      - reports_v1beta
      operationId: reports_v1beta_accounts_reports_search
      summary: Retrieves a report defined by a search query
      description: 'Derived from `reports_v1beta.accounts.reports`.


        Original Google URI template: `/reports/v1beta/{parent=accounts/*}/reports:search`.


        Source summary: Retrieves a report defined by a search query.'
      x-google-resource: reports_v1beta.accounts.reports
      x-google-original-path-template: /reports/v1beta/{parent=accounts/*}/reports:search
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /reports/v1alpha/accounts/{account}/reports:search:
    post:
      tags:
      - reports_v1alpha
      operationId: reports_v1alpha_accounts_reports_search
      summary: Retrieves a report defined by a search query
      description: 'Derived from `reports_v1alpha.accounts.reports`.


        Original Google URI template: `/reports/v1alpha/{parent=accounts/*}/reports:search`.


        Source summary: Retrieves a report defined by a search query.'
      x-google-resource: reports_v1alpha.accounts.reports
      x-google-original-path-template: /reports/v1alpha/{parent=accounts/*}/reports:search
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /reports/v1/accounts/{account}/reports:search:
    post:
      tags:
      - reports_v1
      operationId: reports_v1_accounts_reports_search
      summary: Retrieves a report defined by a search query
      description: 'Derived from `reports_v1.accounts.reports`.


        Original Google URI template: `/reports/v1/{parent=accounts/*}/reports:search`.


        Source summary: Retrieves a report defined by a search query.'
      x-google-resource: reports_v1.accounts.reports
      x-google-original-path-template: /reports/v1/{parent=accounts/*}/reports:search
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /quota/v1beta/accounts/{account}/quotas:
    get:
      tags:
      - quota_v1beta
      operationId: quota_v1beta_accounts_quotas_list
      summary: Lists the daily call quota and usage per group for your Merchant Center account
      description: 'Derived from `quota_v1beta.accounts.quotas`.


        Original Google URI template: `/quota/v1beta/{parent=accounts/*}/quotas`.


        Source summary: Lists the daily call quota and usage per group for your Merchant Center account.'
      x-google-resource: quota_v1beta.accounts.quotas
      x-google-original-path-template: /quota/v1beta/{parent=accounts/*}/quotas
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /quota/v1/accounts/{account}/limits/{limit}:
    get:
      tags:
      - quota_v1
      operationId: quota_v1_accounts_limits_get
      summary: Retrieves an account limit
      description: 'Derived from `quota_v1.accounts.limits`.


        Original Google URI template: `/quota/v1/{name=accounts/*/limits/*}`.


        Source summary: Retrieves an account limit.'
      x-google-resource: quota_v1.accounts.limits
      x-google-original-path-template: /quota/v1/{name=accounts/*/limits/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: limit
        in: path
        required: true
        description: Limit identifier.
        schema:
          type: string
  /quota/v1/accounts/{account}/limits:
    get:
      tags:
      - quota_v1
      operationId: quota_v1_accounts_limits_list
      summary: Lists the limits of an account
      description: 'Derived from `quota_v1.accounts.limits`.


        Original Google URI template: `/quota/v1/{parent=accounts/*}/limits`.


        Source summary: Lists the limits of an account.'
      x-google-resource: quota_v1.accounts.limits
      x-google-original-path-template: /quota/v1/{parent=accounts/*}/limits
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /quota/v1/accounts/{account}/quotas:
    get:
      tags:
      - quota_v1
      operationId: quota_v1_accounts_quotas_list
      summary: Lists the daily call quota and usage per group for your Merchant Center account
      description: 'Derived from `quota_v1.accounts.quotas`.


        Original Google URI template: `/quota/v1/{parent=accounts/*}/quotas`.


        Source summary: Lists the daily call quota and usage per group for your Merchant Center account.'
      x-google-resource: quota_v1.accounts.quotas
      x-google-original-path-template: /quota/v1/{parent=accounts/*}/quotas
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /promotions/v1beta/accounts/{account}/promotions/{promotion}:
    get:
      tags:
      - promotions_v1beta
      operationId: promotions_v1beta_accounts_promotions_get
      summary: Retrieves the promotion from your Merchant Center account
      description: 'Derived from `promotions_v1beta.accounts.promotions`.


        Original Google URI template: `/promotions/v1beta/{name=accounts/*/promotions/*}`.


        Source summary: Retrieves the promotion from your Merchant Center account.'
      x-google-resource: promotions_v1beta.accounts.promotions
      x-google-original-path-template: /promotions/v1beta/{name=accounts/*/promotions/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: promotion
        in: path
        required: true
        description: Promotion identifier.
        schema:
          type: string
  /promotions/v1beta/accounts/{account}/promotions:insert:
    post:
      tags:
      - promotions_v1beta
      operationId: promotions_v1beta_accounts_promotions_insert
      summary: Inserts a promotion for your Merchant Center account
      description: 'Derived from `promotions_v1beta.accounts.promotions`.


        Original Google URI template: `/promotions/v1beta/{parent=accounts/*}/promotions:insert`.


        Source summary: Inserts a promotion for your Merchant Center account.'
      x-google-resource: promotions_v1beta.accounts.promotions
      x-google-original-path-template: /promotions/v1beta/{parent=accounts/*}/promotions:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /promotions/v1beta/accounts/{account}/promotions:
    get:
      tags:
      - promotions_v1beta
      operationId: promotions_v1beta_accounts_promotions_list
      summary: Lists the promotions in your Merchant Center account
      description: 'Derived from `promotions_v1beta.accounts.promotions`.


        Original Google URI template: `/promotions/v1beta/{parent=accounts/*}/promotions`.


        Source summary: Lists the promotions in your Merchant Center account.'
      x-google-resource: promotions_v1beta.accounts.promotions
      x-google-original-path-template: /promotions/v1beta/{parent=accounts/*}/promotions
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /promotions/v1/accounts/{account}/promotions/{promotion}:
    get:
      tags:
      - promotions_v1
      operationId: promotions_v1_accounts_promotions_get
      summary: Retrieves the promotion from your Merchant Center account
      description: 'Derived from `promotions_v1.accounts.promotions`.


        Original Google URI template: `/promotions/v1/{name=accounts/*/promotions/*}`.


        Source summary: Retrieves the promotion from your Merchant Center account.'
      x-google-resource: promotions_v1.accounts.promotions
      x-google-original-path-template: /promotions/v1/{name=accounts/*/promotions/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: promotion
        in: path
        required: true
        description: Promotion identifier.
        schema:
          type: string
  /promotions/v1/accounts/{account}/promotions:insert:
    post:
      tags:
      - promotions_v1
      operationId: promotions_v1_accounts_promotions_insert
      summary: Inserts a promotion for your Merchant Center account
      description: 'Derived from `promotions_v1.accounts.promotions`.


        Original Google URI template: `/promotions/v1/{parent=accounts/*}/promotions:insert`.


        Source summary: Inserts a promotion for your Merchant Center account.'
      x-google-resource: promotions_v1.accounts.promotions
      x-google-original-path-template: /promotions/v1/{parent=accounts/*}/promotions:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /promotions/v1/accounts/{account}/promotions:
    get:
      tags:
      - promotions_v1
      operationId: promotions_v1_accounts_promotions_list
      summary: Lists the promotions in your Merchant Center account
      description: 'Derived from `promotions_v1.accounts.promotions`.


        Original Google URI template: `/promotions/v1/{parent=accounts/*}/promotions`.


        Source summary: Lists the promotions in your Merchant Center account.'
      x-google-resource: promotions_v1.accounts.promotions
      x-google-original-path-template: /promotions/v1/{parent=accounts/*}/promotions
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /productstudio/v1alpha/accounts/{account}/generatedImages:generateProductImageBackground:
    post:
      tags:
      - productstudio_v1alpha
      operationId: productstudio_v1alpha_accounts_generatedImages_generateProductImageBackground
      summary: Generate product image background generated images
      description: 'Derived from `productstudio_v1alpha.accounts.generatedImages`.


        Original Google URI template: `/productstudio/v1alpha/{name=accounts/*}/generatedImages:generateProductImageBackground`.


        Source summary: GenerateProductImageBackground generates a new image where the background of the original image is replaced by an AI generated scene based on provided product information and a text prompt.'
      x-google-resource: productstudio_v1alpha.accounts.generatedImages
      x-google-original-path-template: /productstudio/v1alpha/{name=accounts/*}/generatedImages:generateProductImageBackground
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /productstudio/v1alpha/accounts/{account}/generatedImages:removeProductImageBackground:
    post:
      tags:
      - productstudio_v1alpha
      operationId: productstudio_v1alpha_accounts_generatedImages_removeProductImageBackground
      summary: RemoveProductImageBackground generates a new image where the background of the original image is removed
      description: 'Derived from `productstudio_v1alpha.accounts.generatedImages`.


        Original Google URI template: `/productstudio/v1alpha/{name=accounts/*}/generatedImages:removeProductImageBackground`.


        Source summary: RemoveProductImageBackground generates a new image where the background of the original image is removed.'
      x-google-resource: productstudio_v1alpha.accounts.generatedImages
      x-google-original-path-template: /productstudio/v1alpha/{name=accounts/*}/generatedImages:removeProductImageBackground
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /productstudio/v1alpha/accounts/{account}/generatedImages:upscaleProductImage:
    post:
      tags:
      - productstudio_v1alpha
      operationId: productstudio_v1alpha_accounts_generatedImages_upscaleProductImage
      summary: UpscaleProductImage generates a new image where the resolution of the original image is enhanced
      description: 'Derived from `productstudio_v1alpha.accounts.generatedImages`.


        Original Google URI template: `/productstudio/v1alpha/{name=accounts/*}/generatedImages:upscaleProductImage`.


        Source summary: UpscaleProductImage generates a new image where the resolution of the original image is enhanced.'
      x-google-resource: productstudio_v1alpha.accounts.generatedImages
      x-google-original-path-template: /productstudio/v1alpha/{name=accounts/*}/generatedImages:upscaleProductImage
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /productstudio/v1alpha/accounts/{account}:generateProductTextSuggestions:
    post:
      tags:
      - productstudio_v1alpha
      operationId: productstudio_v1alpha_accounts_textSuggestions_generateProductTextSuggestions
      summary: Generate product text suggestions
      description: 'Derived from `productstudio_v1alpha.accounts.textSuggestions`.


        Original Google URI template: `/productstudio/v1alpha/{name=accounts/*}:generateProductTextSuggestions`.


        Source summary: GenerateProductTextSuggestions generates a set of candidate text completions (e.g., product titles, descriptions) based on provided product information.'
      x-google-resource: productstudio_v1alpha.accounts.textSuggestions
      x-google-original-path-template: /productstudio/v1alpha/{name=accounts/*}:generateProductTextSuggestions
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /products/v1beta/accounts/{account}/productInputs/{productInput}:
    delete:
      tags:
      - products_v1beta
      operationId: products_v1beta_accounts_productInputs_delete
      summary: Deletes a product input from your Merchant Center account
      description: 'Derived from `products_v1beta.accounts.productInputs`.


        Original Google URI template: `/products/v1beta/{name=accounts/*/productInputs/*}`.


        Source summary: Deletes a product input from your Merchant Center account.'
      x-google-resource: products_v1beta.accounts.productInputs
      x-google-original-path-template: /products/v1beta/{name=accounts/*/productInputs/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: productInput
        in: path
        required: true
        description: Product input identifier.
        schema:
          type: string
    patch:
      tags:
      - products_v1beta
      operationId: products_v1beta_accounts_productInputs_patch
      summary: Updates the existing product input in your Merchant Center account
      description: 'Derived from `products_v1beta.accounts.productInputs`.


        Original Google URI template: `/products/v1beta/{productInput.name=accounts/*/productInputs/*}`.


        Source summary: Updates the existing product input in your Merchant Center account.'
      x-google-resource: products_v1beta.accounts.productInputs
      x-google-original-path-template: /products/v1beta/{productInput.name=accounts/*/productInputs/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: productInput
        in: path
        required: true
        description: Product input identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /products/v1beta/accounts/{account}/productInputs:insert:
    post:
      tags:
      - products_v1beta
      operationId: products_v1beta_accounts_productInputs_insert
      summary: Uploads a product input to your Merchant Center account
      description: 'Derived from `products_v1beta.accounts.productInputs`.


        Original Google URI template: `/products/v1beta/{parent=accounts/*}/productInputs:insert`.


        Source summary: Uploads a product input to your Merchant Center account.'
      x-google-resource: products_v1beta.accounts.productInputs
      x-google-original-path-template: /products/v1beta/{parent=accounts/*}/productInputs:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /products/v1beta/accounts/{account}/products/{product}:
    get:
      tags:
      - products_v1beta
      operationId: products_v1beta_accounts_products_get
      summary: Retrieves the processed product from your Merchant Center account
      description: 'Derived from `products_v1beta.accounts.products`.


        Original Google URI template: `/products/v1beta/{name=accounts/*/products/*}`.


        Source summary: Retrieves the processed product from your Merchant Center account.'
      x-google-resource: products_v1beta.accounts.products
      x-google-original-path-template: /products/v1beta/{name=accounts/*/products/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: product
        in: path
        required: true
        description: Product identifier.
        schema:
          type: string
  /products/v1beta/accounts/{account}/products:
    get:
      tags:
      - products_v1beta
      operationId: products_v1beta_accounts_products_list
      summary: Lists the processed products in your Merchant Center account
      description: 'Derived from `products_v1beta.accounts.products`.


        Original Google URI template: `/products/v1beta/{parent=accounts/*}/products`.


        Source summary: Lists the processed products in your Merchant Center account.'
      x-google-resource: products_v1beta.accounts.products
      x-google-original-path-template: /products/v1beta/{parent=accounts/*}/products
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /products/v1/accounts/{account}/productInputs/{productInput}:
    delete:
      tags:
      - products_v1
      operationId: products_v1_accounts_productInputs_delete
      summary: Deletes a product input from your Merchant Center account
      description: 'Derived from `products_v1.accounts.productInputs`.


        Original Google URI template: `/products/v1/{name=accounts/*/productInputs/*}`.


        Source summary: Deletes a product input from your Merchant Center account.'
      x-google-resource: products_v1.accounts.productInputs
      x-google-original-path-template: /products/v1/{name=accounts/*/productInputs/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: productInput
        in: path
        required: true
        description: Product input identifier.
        schema:
          type: string
    patch:
      tags:
      - products_v1
      operationId: products_v1_accounts_productInputs_patch
      summary: Updates the existing product input in your Merchant Center account
      description: 'Derived from `products_v1.accounts.productInputs`.


        Original Google URI template: `/products/v1/{productInput.name=accounts/*/productInputs/*}`.


        Source summary: Updates the existing product input in your Merchant Center account.'
      x-google-resource: products_v1.accounts.productInputs
      x-google-original-path-template: /products/v1/{productInput.name=accounts/*/productInputs/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: productInput
        in: path
        required: true
        description: Product input identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /products/v1/accounts/{account}/productInputs:insert:
    post:
      tags:
      - products_v1
      operationId: products_v1_accounts_productInputs_insert
      summary: Uploads a product input to your Merchant Center account
      description: 'Derived from `products_v1.accounts.productInputs`.


        Original Google URI template: `/products/v1/{parent=accounts/*}/productInputs:insert`.


        Source summary: Uploads a product input to your Merchant Center account.'
      x-google-resource: products_v1.accounts.productInputs
      x-google-original-path-template: /products/v1/{parent=accounts/*}/productInputs:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /products/v1/accounts/{account}/products/{product}:
    get:
      tags:
      - products_v1
      operationId: products_v1_accounts_products_get
      summary: Retrieves the processed product from your Merchant Center account
      description: 'Derived from `products_v1.accounts.products`.


        Original Google URI template: `/products/v1/{name=accounts/*/products/*}`.


        Source summary: Retrieves the processed product from your Merchant Center account.'
      x-google-resource: products_v1.accounts.products
      x-google-original-path-template: /products/v1/{name=accounts/*/products/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: product
        in: path
        required: true
        description: Product identifier.
        schema:
          type: string
  /products/v1/accounts/{account}/products:
    get:
      tags:
      - products_v1
      operationId: products_v1_accounts_products_list
      summary: Lists the processed products in your Merchant Center account
      description: 'Derived from `products_v1.accounts.products`.


        Original Google URI template: `/products/v1/{parent=accounts/*}/products`.


        Source summary: Lists the processed products in your Merchant Center account.'
      x-google-resource: products_v1.accounts.products
      x-google-original-path-template: /products/v1/{parent=accounts/*}/products
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /ordertracking/v1beta/accounts/{account}/orderTrackingSignals:
    post:
      tags:
      - ordertracking_v1beta
      operationId: ordertracking_v1beta_accounts_orderTrackingSignals_create
      summary: Creates new order tracking signal
      description: 'Derived from `ordertracking_v1beta.accounts.orderTrackingSignals`.


        Original Google URI template: `/ordertracking/v1beta/{parent=accounts/*}/orderTrackingSignals`.


        Source summary: Creates new order tracking signal.'
      x-google-resource: ordertracking_v1beta.accounts.orderTrackingSignals
      x-google-original-path-template: /ordertracking/v1beta/{parent=accounts/*}/orderTrackingSignals
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /ordertracking/v1/accounts/{account}/orderTrackingSignals:
    post:
      tags:
      - ordertracking_v1
      operationId: ordertracking_v1_accounts_orderTrackingSignals_create
      summary: Creates new order tracking signal
      description: 'Derived from `ordertracking_v1.accounts.orderTrackingSignals`.


        Original Google URI template: `/ordertracking/v1/{parent=accounts/*}/orderTrackingSignals`.


        Source summary: Creates new order tracking signal.'
      x-google-resource: ordertracking_v1.accounts.orderTrackingSignals
      x-google-original-path-template: /ordertracking/v1/{parent=accounts/*}/orderTrackingSignals
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /notifications/v1beta/accounts/{account}/notificationsubscriptions:
    post:
      tags:
      - notifications_v1beta
      operationId: notifications_v1beta_accounts_notificationsubscriptions_create
      summary: Creates a notification subscription for a business
      description: 'Derived from `notifications_v1beta.accounts.notificationsubscriptions`.


        Original Google URI template: `/notifications/v1beta/{parent=accounts/*}/notificationsubscriptions`.


        Source summary: Creates a notification subscription for a business.'
      x-google-resource: notifications_v1beta.accounts.notificationsubscriptions
      x-google-original-path-template: /notifications/v1beta/{parent=accounts/*}/notificationsubscriptions
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
    get:
      tags:
      - notifications_v1beta
      operationId: notifications_v1beta_accounts_notificationsubscriptions_list
      summary: Gets all the notification subscriptions for a merchant
      description: 'Derived from `notifications_v1beta.accounts.notificationsubscriptions`.


        Original Google URI template: `/notifications/v1beta/{parent=accounts/*}/notificationsubscriptions`.


        Source summary: Gets all the notification subscriptions for a merchant.'
      x-google-resource: notifications_v1beta.accounts.notificationsubscriptions
      x-google-original-path-template: /notifications/v1beta/{parent=accounts/*}/notificationsubscriptions
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /notifications/v1beta/accounts/{account}/notificationsubscriptions/{notificationSubscription}:
    delete:
      tags:
      - notifications_v1beta
      operationId: notifications_v1beta_accounts_notificationsubscriptions_delete
      summary: Deletes a notification subscription for a merchant
      description: 'Derived from `notifications_v1beta.accounts.notificationsubscriptions`.


        Original Google URI template: `/notifications/v1beta/{name=accounts/*/notificationsubscriptions/*}`.


        Source summary: Deletes a notification subscription for a merchant.'
      x-google-resource: notifications_v1beta.accounts.notificationsubscriptions
      x-google-original-path-template: /notifications/v1beta/{name=accounts/*/notificationsubscriptions/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: notificationSubscription
        in: path
        required: true
        description: Notification subscription identifier.
        schema:
          type: string
    get:
      tags:
      - notifications_v1beta
      operationId: notifications_v1beta_accounts_notificationsubscriptions_get
      summary: Gets notification subscriptions for an account
      description: 'Derived from `notifications_v1beta.accounts.notificationsubscriptions`.


        Original Google URI template: `/notifications/v1beta/{name=accounts/*/notificationsubscriptions/*}`.


        Source summary: Gets notification subscriptions for an account.'
      x-google-resource: notifications_v1beta.accounts.notificationsubscriptions
      x-google-original-path-template: /notifications/v1beta/{name=accounts/*/notificationsubscriptions/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: notificationSubscription
        in: path
        required: true
        description: Notification subscription identifier.
        schema:
          type: string
    patch:
      tags:
      - notifications_v1beta
      operationId: notifications_v1beta_accounts_notificationsubscriptions_patch
      summary: Updates an existing notification subscription for a merchant
      description: 'Derived from `notifications_v1beta.accounts.notificationsubscriptions`.


        Original Google URI template: `/notifications/v1beta/{notificationSubscription.name=accounts/*/notificationsubscriptions/*}`.


        Source summary: Updates an existing notification subscription for a merchant.'
      x-google-resource: notifications_v1beta.accounts.notificationsubscriptions
      x-google-original-path-template: /notifications/v1beta/{notificationSubscription.name=accounts/*/notificationsubscriptions/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: notificationSubscription
        in: path
        required: true
        description: Notification subscription identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /notifications/v1/accounts/{account}/notificationsubscriptions:
    post:
      tags:
      - notifications_v1
      operationId: notifications_v1_accounts_notificationsubscriptions_create
      summary: Creates a notification subscription for a business
      description: 'Derived from `notifications_v1.accounts.notificationsubscriptions`.


        Original Google URI template: `/notifications/v1/{parent=accounts/*}/notificationsubscriptions`.


        Source summary: Creates a notification subscription for a business.'
      x-google-resource: notifications_v1.accounts.notificationsubscriptions
      x-google-original-path-template: /notifications/v1/{parent=accounts/*}/notificationsubscriptions
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
    get:
      tags:
      - notifications_v1
      operationId: notifications_v1_accounts_notificationsubscriptions_list
      summary: Gets all the notification subscriptions for a merchant
      description: 'Derived from `notifications_v1.accounts.notificationsubscriptions`.


        Original Google URI template: `/notifications/v1/{parent=accounts/*}/notificationsubscriptions`.


        Source summary: Gets all the notification subscriptions for a merchant.'
      x-google-resource: notifications_v1.accounts.notificationsubscriptions
      x-google-original-path-template: /notifications/v1/{parent=accounts/*}/notificationsubscriptions
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /notifications/v1/accounts/{account}/notificationsubscriptions/{notificationSubscription}:
    delete:
      tags:
      - notifications_v1
      operationId: notifications_v1_accounts_notificationsubscriptions_delete
      summary: Deletes a notification subscription for a merchant
      description: 'Derived from `notifications_v1.accounts.notificationsubscriptions`.


        Original Google URI template: `/notifications/v1/{name=accounts/*/notificationsubscriptions/*}`.


        Source summary: Deletes a notification subscription for a merchant.'
      x-google-resource: notifications_v1.accounts.notificationsubscriptions
      x-google-original-path-template: /notifications/v1/{name=accounts/*/notificationsubscriptions/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: notificationSubscription
        in: path
        required: true
        description: Notification subscription identifier.
        schema:
          type: string
    get:
      tags:
      - notifications_v1
      operationId: notifications_v1_accounts_notificationsubscriptions_get
      summary: Gets notification subscriptions for an account
      description: 'Derived from `notifications_v1.accounts.notificationsubscriptions`.


        Original Google URI template: `/notifications/v1/{name=accounts/*/notificationsubscriptions/*}`.


        Source summary: Gets notification subscriptions for an account.'
      x-google-resource: notifications_v1.accounts.notificationsubscriptions
      x-google-original-path-template: /notifications/v1/{name=accounts/*/notificationsubscriptions/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: notificationSubscription
        in: path
        required: true
        description: Notification subscription identifier.
        schema:
          type: string
    patch:
      tags:
      - notifications_v1
      operationId: notifications_v1_accounts_notificationsubscriptions_patch
      summary: Updates an existing notification subscription for a merchant
      description: 'Derived from `notifications_v1.accounts.notificationsubscriptions`.


        Original Google URI template: `/notifications/v1/{notificationSubscription.name=accounts/*/notificationsubscriptions/*}`.


        Source summary: Updates an existing notification subscription for a merchant.'
      x-google-resource: notifications_v1.accounts.notificationsubscriptions
      x-google-original-path-template: /notifications/v1/{notificationSubscription.name=accounts/*/notificationsubscriptions/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: notificationSubscription
        in: path
        required: true
        description: Notification subscription identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /lfp/v1beta/accounts/{account}/lfpInventories:insert:
    post:
      tags:
      - lfp_v1beta
      operationId: lfp_v1beta_accounts_lfpInventories_insert
      summary: Inserts a `LfpInventory` resource for the given target merchant account
      description: 'Derived from `lfp_v1beta.accounts.lfpInventories`.


        Original Google URI template: `/lfp/v1beta/{parent=accounts/*}/lfpInventories:insert`.


        Source summary: Inserts a `LfpInventory` resource for the given target merchant account.'
      x-google-resource: lfp_v1beta.accounts.lfpInventories
      x-google-original-path-template: /lfp/v1beta/{parent=accounts/*}/lfpInventories:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /lfp/v1beta/accounts/{account}/lfpMerchantStates/{lfpMerchantState}:
    get:
      tags:
      - lfp_v1beta
      operationId: lfp_v1beta_accounts_lfpMerchantStates_get
      summary: Gets the LFP state of a merchant
      description: 'Derived from `lfp_v1beta.accounts.lfpMerchantStates`.


        Original Google URI template: `/lfp/v1beta/{name=accounts/*/lfpMerchantStates/*}`.


        Source summary: Gets the LFP state of a merchant'
      x-google-resource: lfp_v1beta.accounts.lfpMerchantStates
      x-google-original-path-template: /lfp/v1beta/{name=accounts/*/lfpMerchantStates/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: lfpMerchantState
        in: path
        required: true
        description: Lfp merchant state identifier.
        schema:
          type: string
  /lfp/v1beta/accounts/{account}/lfpSales:insert:
    post:
      tags:
      - lfp_v1beta
      operationId: lfp_v1beta_accounts_lfpSales_insert
      summary: Inserts a `LfpSale` for the given merchant
      description: 'Derived from `lfp_v1beta.accounts.lfpSales`.


        Original Google URI template: `/lfp/v1beta/{parent=accounts/*}/lfpSales:insert`.


        Source summary: Inserts a `LfpSale` for the given merchant.'
      x-google-resource: lfp_v1beta.accounts.lfpSales
      x-google-original-path-template: /lfp/v1beta/{parent=accounts/*}/lfpSales:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /lfp/v1beta/accounts/{account}/lfpStores/{lfpStore}:
    delete:
      tags:
      - lfp_v1beta
      operationId: lfp_v1beta_accounts_lfpStores_delete
      summary: Deletes a store for a target merchant
      description: 'Derived from `lfp_v1beta.accounts.lfpStores`.


        Original Google URI template: `/lfp/v1beta/{name=accounts/*/lfpStores/*}`.


        Source summary: Deletes a store for a target merchant.'
      x-google-resource: lfp_v1beta.accounts.lfpStores
      x-google-original-path-template: /lfp/v1beta/{name=accounts/*/lfpStores/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: lfpStore
        in: path
        required: true
        description: Lfp store identifier.
        schema:
          type: string
    get:
      tags:
      - lfp_v1beta
      operationId: lfp_v1beta_accounts_lfpStores_get
      summary: Retrieves information about a store
      description: 'Derived from `lfp_v1beta.accounts.lfpStores`.


        Original Google URI template: `/lfp/v1beta/{name=accounts/*/lfpStores/*}`.


        Source summary: Retrieves information about a store.'
      x-google-resource: lfp_v1beta.accounts.lfpStores
      x-google-original-path-template: /lfp/v1beta/{name=accounts/*/lfpStores/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: lfpStore
        in: path
        required: true
        description: Lfp store identifier.
        schema:
          type: string
  /lfp/v1beta/accounts/{account}/lfpStores:insert:
    post:
      tags:
      - lfp_v1beta
      operationId: lfp_v1beta_accounts_lfpStores_insert
      summary: Inserts a store for the target merchant
      description: 'Derived from `lfp_v1beta.accounts.lfpStores`.


        Original Google URI template: `/lfp/v1beta/{parent=accounts/*}/lfpStores:insert`.


        Source summary: Inserts a store for the target merchant.'
      x-google-resource: lfp_v1beta.accounts.lfpStores
      x-google-original-path-template: /lfp/v1beta/{parent=accounts/*}/lfpStores:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /lfp/v1beta/accounts/{account}/lfpStores:
    get:
      tags:
      - lfp_v1beta
      operationId: lfp_v1beta_accounts_lfpStores_list
      summary: Lists the stores of the target merchant, specified by the filter in `ListLfpStoresRequest`
      description: 'Derived from `lfp_v1beta.accounts.lfpStores`.


        Original Google URI template: `/lfp/v1beta/{parent=accounts/*}/lfpStores`.


        Source summary: Lists the stores of the target merchant, specified by the filter in `ListLfpStoresRequest`.'
      x-google-resource: lfp_v1beta.accounts.lfpStores
      x-google-original-path-template: /lfp/v1beta/{parent=accounts/*}/lfpStores
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /lfp/v1/accounts/{account}/lfpInventories:insert:
    post:
      tags:
      - lfp_v1
      operationId: lfp_v1_accounts_lfpInventories_insert
      summary: Inserts a `LfpInventory` resource for the given target merchant account
      description: 'Derived from `lfp_v1.accounts.lfpInventories`.


        Original Google URI template: `/lfp/v1/{parent=accounts/*}/lfpInventories:insert`.


        Source summary: Inserts a `LfpInventory` resource for the given target merchant account.'
      x-google-resource: lfp_v1.accounts.lfpInventories
      x-google-original-path-template: /lfp/v1/{parent=accounts/*}/lfpInventories:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /lfp/v1/accounts/{account}/lfpMerchantStates/{lfpMerchantState}:
    get:
      tags:
      - lfp_v1
      operationId: lfp_v1_accounts_lfpMerchantStates_get
      summary: Gets the LFP state of a merchant
      description: 'Derived from `lfp_v1.accounts.lfpMerchantStates`.


        Original Google URI template: `/lfp/v1/{name=accounts/*/lfpMerchantStates/*}`.


        Source summary: Gets the LFP state of a merchant'
      x-google-resource: lfp_v1.accounts.lfpMerchantStates
      x-google-original-path-template: /lfp/v1/{name=accounts/*/lfpMerchantStates/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: lfpMerchantState
        in: path
        required: true
        description: Lfp merchant state identifier.
        schema:
          type: string
  /lfp/v1/accounts/{account}/lfpSales:insert:
    post:
      tags:
      - lfp_v1
      operationId: lfp_v1_accounts_lfpSales_insert
      summary: Inserts a `LfpSale` for the given merchant
      description: 'Derived from `lfp_v1.accounts.lfpSales`.


        Original Google URI template: `/lfp/v1/{parent=accounts/*}/lfpSales:insert`.


        Source summary: Inserts a `LfpSale` for the given merchant.'
      x-google-resource: lfp_v1.accounts.lfpSales
      x-google-original-path-template: /lfp/v1/{parent=accounts/*}/lfpSales:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /lfp/v1/accounts/{account}/lfpStores/{lfpStore}:
    delete:
      tags:
      - lfp_v1
      operationId: lfp_v1_accounts_lfpStores_delete
      summary: Deletes a store for a target merchant
      description: 'Derived from `lfp_v1.accounts.lfpStores`.


        Original Google URI template: `/lfp/v1/{name=accounts/*/lfpStores/*}`.


        Source summary: Deletes a store for a target merchant.'
      x-google-resource: lfp_v1.accounts.lfpStores
      x-google-original-path-template: /lfp/v1/{name=accounts/*/lfpStores/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: lfpStore
        in: path
        required: true
        description: Lfp store identifier.
        schema:
          type: string
    get:
      tags:
      - lfp_v1
      operationId: lfp_v1_accounts_lfpStores_get
      summary: Retrieves information about a store
      description: 'Derived from `lfp_v1.accounts.lfpStores`.


        Original Google URI template: `/lfp/v1/{name=accounts/*/lfpStores/*}`.


        Source summary: Retrieves information about a store.'
      x-google-resource: lfp_v1.accounts.lfpStores
      x-google-original-path-template: /lfp/v1/{name=accounts/*/lfpStores/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: lfpStore
        in: path
        required: true
        description: Lfp store identifier.
        schema:
          type: string
  /lfp/v1/accounts/{account}/lfpStores:insert:
    post:
      tags:
      - lfp_v1
      operationId: lfp_v1_accounts_lfpStores_insert
      summary: Inserts a store for the target merchant
      description: 'Derived from `lfp_v1.accounts.lfpStores`.


        Original Google URI template: `/lfp/v1/{parent=accounts/*}/lfpStores:insert`.


        Source summary: Inserts a store for the target merchant.'
      x-google-resource: lfp_v1.accounts.lfpStores
      x-google-original-path-template: /lfp/v1/{parent=accounts/*}/lfpStores:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /lfp/v1/accounts/{account}/lfpStores:
    get:
      tags:
      - lfp_v1
      operationId: lfp_v1_accounts_lfpStores_list
      summary: Lists the stores of the target merchant, specified by the filter in `ListLfpStoresRequest`
      description: 'Derived from `lfp_v1.accounts.lfpStores`.


        Original Google URI template: `/lfp/v1/{parent=accounts/*}/lfpStores`.


        Source summary: Lists the stores of the target merchant, specified by the filter in `ListLfpStoresRequest`.'
      x-google-resource: lfp_v1.accounts.lfpStores
      x-google-original-path-template: /lfp/v1/{parent=accounts/*}/lfpStores
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /issueresolution/v1beta/accounts/{account}/aggregateProductStatuses:
    get:
      tags:
      - issueresolution_v1beta
      operationId: issueresolution_v1beta_accounts_aggregateProductStatuses_list
      summary: Lists the `AggregateProductStatuses` resources for your merchant account
      description: 'Derived from `issueresolution_v1beta.accounts.aggregateProductStatuses`.


        Original Google URI template: `/issueresolution/v1beta/{parent=accounts/*}/aggregateProductStatuses`.


        Source summary: Lists the `AggregateProductStatuses` resources for your merchant account.'
      x-google-resource: issueresolution_v1beta.accounts.aggregateProductStatuses
      x-google-original-path-template: /issueresolution/v1beta/{parent=accounts/*}/aggregateProductStatuses
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /issueresolution/v1beta/accounts/{account}:renderaccountissues:
    post:
      tags:
      - issueresolution_v1beta
      operationId: issueresolution_v1beta_issueresolution_renderaccountissues
      summary: Provide a list of business's account issues with an issue resolution content and available actions
      description: 'Derived from `issueresolution_v1beta.issueresolution`.


        Original Google URI template: `/issueresolution/v1beta/{name=accounts/*}:renderaccountissues`.


        Source summary: Provide a list of business''s account issues with an issue resolution content and available actions.'
      x-google-resource: issueresolution_v1beta.issueresolution
      x-google-original-path-template: /issueresolution/v1beta/{name=accounts/*}:renderaccountissues
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /issueresolution/v1beta/accounts/{account}/products/{product}:renderproductissues:
    post:
      tags:
      - issueresolution_v1beta
      operationId: issueresolution_v1beta_issueresolution_renderproductissues
      summary: Provide a list of issues for business's product with an issue resolution content and available actions
      description: 'Derived from `issueresolution_v1beta.issueresolution`.


        Original Google URI template: `/issueresolution/v1beta/{name=accounts/*/products/*}:renderproductissues`.


        Source summary: Provide a list of issues for business''s product with an issue resolution content and available actions.'
      x-google-resource: issueresolution_v1beta.issueresolution
      x-google-original-path-template: /issueresolution/v1beta/{name=accounts/*/products/*}:renderproductissues
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: product
        in: path
        required: true
        description: Product identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /issueresolution/v1beta/accounts/{account}:triggeraction:
    post:
      tags:
      - issueresolution_v1beta
      operationId: issueresolution_v1beta_issueresolution_triggeraction
      summary: Start an action
      description: 'Derived from `issueresolution_v1beta.issueresolution`.


        Original Google URI template: `/issueresolution/v1beta/{name=accounts/*}:triggeraction`.


        Source summary: Start an action.'
      x-google-resource: issueresolution_v1beta.issueresolution
      x-google-original-path-template: /issueresolution/v1beta/{name=accounts/*}:triggeraction
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /issueresolution/v1/accounts/{account}/aggregateProductStatuses:
    get:
      tags:
      - issueresolution_v1
      operationId: issueresolution_v1_accounts_aggregateProductStatuses_list
      summary: Lists the `AggregateProductStatuses` resources for your merchant account
      description: 'Derived from `issueresolution_v1.accounts.aggregateProductStatuses`.


        Original Google URI template: `/issueresolution/v1/{parent=accounts/*}/aggregateProductStatuses`.


        Source summary: Lists the `AggregateProductStatuses` resources for your merchant account.'
      x-google-resource: issueresolution_v1.accounts.aggregateProductStatuses
      x-google-original-path-template: /issueresolution/v1/{parent=accounts/*}/aggregateProductStatuses
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
  /issueresolution/v1/accounts/{account}:renderaccountissues:
    post:
      tags:
      - issueresolution_v1
      operationId: issueresolution_v1_issueresolution_renderaccountissues
      summary: Provide a list of business's account issues with an issue resolution content and available actions
      description: 'Derived from `issueresolution_v1.issueresolution`.


        Original Google URI template: `/issueresolution/v1/{name=accounts/*}:renderaccountissues`.


        Source summary: Provide a list of business''s account issues with an issue resolution content and available actions.'
      x-google-resource: issueresolution_v1.issueresolution
      x-google-original-path-template: /issueresolution/v1/{name=accounts/*}:renderaccountissues
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /issueresolution/v1/accounts/{account}/products/{product}:renderproductissues:
    post:
      tags:
      - issueresolution_v1
      operationId: issueresolution_v1_issueresolution_renderproductissues
      summary: Provide a list of issues for business's product with an issue resolution content and available actions
      description: 'Derived from `issueresolution_v1.issueresolution`.


        Original Google URI template: `/issueresolution/v1/{name=accounts/*/products/*}:renderproductissues`.


        Source summary: Provide a list of issues for business''s product with an issue resolution content and available actions.'
      x-google-resource: issueresolution_v1.issueresolution
      x-google-original-path-template: /issueresolution/v1/{name=accounts/*/products/*}:renderproductissues
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: product
        in: path
        required: true
        description: Product identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /issueresolution/v1/accounts/{account}:triggeraction:
    post:
      tags:
      - issueresolution_v1
      operationId: issueresolution_v1_issueresolution_triggeraction
      summary: Start an action
      description: 'Derived from `issueresolution_v1.issueresolution`.


        Original Google URI template: `/issueresolution/v1/{name=accounts/*}:triggeraction`.


        Source summary: Start an action.'
      x-google-resource: issueresolution_v1.issueresolution
      x-google-original-path-template: /issueresolution/v1/{name=accounts/*}:triggeraction
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /inventories/v1beta/accounts/{account}/products/{product}/localInventories/{localInventory}:
    delete:
      tags:
      - inventories_v1beta
      operationId: inventories_v1beta_accounts_products_localInventories_delete
      summary: Deletes the specified `LocalInventory` from the given product in your merchant account
      description: 'Derived from `inventories_v1beta.accounts.products.localInventories`.


        Original Google URI template: `/inventories/v1beta/{name=accounts/*/products/*/localInventories/*}`.


        Source summary: Deletes the specified `LocalInventory` from the given product in your merchant account.'
      x-google-resource: inventories_v1beta.accounts.products.localInventories
      x-google-original-path-template: /inventories/v1beta/{name=accounts/*/products/*/localInventories/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: product
        in: path
        required: true
        description: Product identifier.
        schema:
          type: string
      - name: localInventory
        in: path
        required: true
        description: Local inventory identifier.
        schema:
          type: string
  /inventories/v1beta/accounts/{account}/products/{product}/localInventories:insert:
    post:
      tags:
      - inventories_v1beta
      operationId: inventories_v1beta_accounts_products_localInventories_insert
      summary: Inserts a `LocalInventory` resource to a product in your merchant account
      description: 'Derived from `inventories_v1beta.accounts.products.localInventories`.


        Original Google URI template: `/inventories/v1beta/{parent=accounts/*/products/*}/localInventories:insert`.


        Source summary: Inserts a `LocalInventory` resource to a product in your merchant account.'
      x-google-resource: inventories_v1beta.accounts.products.localInventories
      x-google-original-path-template: /inventories/v1beta/{parent=accounts/*/products/*}/localInventories:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: product
        in: path
        required: true
        description: Product identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /inventories/v1beta/accounts/{account}/products/{product}/localInventories:
    get:
      tags:
      - inventories_v1beta
      operationId: inventories_v1beta_accounts_products_localInventories_list
      summary: Lists the `LocalInventory` resources for the given product in your merchant account
      description: 'Derived from `inventories_v1beta.accounts.products.localInventories`.


        Original Google URI template: `/inventories/v1beta/{parent=accounts/*/products/*}/localInventories`.


        Source summary: Lists the `LocalInventory` resources for the given product in your merchant account.'
      x-google-resource: inventories_v1beta.accounts.products.localInventories
      x-google-original-path-template: /inventories/v1beta/{parent=accounts/*/products/*}/localInventories
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: product
        in: path
        required: true
        description: Product identifier.
        schema:
          type: string
  /inventories/v1beta/accounts/{account}/products/{product}/regionalInventories/{regionalInventory}:
    delete:
      tags:
      - inventories_v1beta
      operationId: inventories_v1beta_accounts_products_regionalInventories_delete
      summary: Deletes the specified `RegionalInventory` resource from the given product in your merchant account
      description: 'Derived from `inventories_v1beta.accounts.products.regionalInventories`.


        Original Google URI template: `/inventories/v1beta/{name=accounts/*/products/*/regionalInventories/*}`.


        Source summary: Deletes the specified `RegionalInventory` resource from the given product in your merchant account.'
      x-google-resource: inventories_v1beta.accounts.products.regionalInventories
      x-google-original-path-template: /inventories/v1beta/{name=accounts/*/products/*/regionalInventories/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: product
        in: path
        required: true
        description: Product identifier.
        schema:
          type: string
      - name: regionalInventory
        in: path
        required: true
        description: Regional inventory identifier.
        schema:
          type: string
  /inventories/v1beta/accounts/{account}/products/{product}/regionalInventories:insert:
    post:
      tags:
      - inventories_v1beta
      operationId: inventories_v1beta_accounts_products_regionalInventories_insert
      summary: Inserts a `RegionalInventory` to a given product in your merchant account
      description: 'Derived from `inventories_v1beta.accounts.products.regionalInventories`.


        Original Google URI template: `/inventories/v1beta/{parent=accounts/*/products/*}/regionalInventories:insert`.


        Source summary: Inserts a `RegionalInventory` to a given product in your merchant account.'
      x-google-resource: inventories_v1beta.accounts.products.regionalInventories
      x-google-original-path-template: /inventories/v1beta/{parent=accounts/*/products/*}/regionalInventories:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: product
        in: path
        required: true
        description: Product identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /inventories/v1beta/accounts/{account}/products/{product}/regionalInventories:
    get:
      tags:
      - inventories_v1beta
      operationId: inventories_v1beta_accounts_products_regionalInventories_list
      summary: Lists the `RegionalInventory` resources for the given product in your merchant account
      description: 'Derived from `inventories_v1beta.accounts.products.regionalInventories`.


        Original Google URI template: `/inventories/v1beta/{parent=accounts/*/products/*}/regionalInventories`.


        Source summary: Lists the `RegionalInventory` resources for the given product in your merchant account.'
      x-google-resource: inventories_v1beta.accounts.products.regionalInventories
      x-google-original-path-template: /inventories/v1beta/{parent=accounts/*/products/*}/regionalInventories
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: product
        in: path
        required: true
        description: Product identifier.
        schema:
          type: string
  /inventories/v1/accounts/{account}/products/{product}/localInventories/{localInventory}:
    delete:
      tags:
      - inventories_v1
      operationId: inventories_v1_accounts_products_localInventories_delete
      summary: Deletes the specified `LocalInventory` from the given product in your merchant account
      description: 'Derived from `inventories_v1.accounts.products.localInventories`.


        Original Google URI template: `/inventories/v1/{name=accounts/*/products/*/localInventories/*}`.


        Source summary: Deletes the specified `LocalInventory` from the given product in your merchant account.'
      x-google-resource: inventories_v1.accounts.products.localInventories
      x-google-original-path-template: /inventories/v1/{name=accounts/*/products/*/localInventories/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: product
        in: path
        required: true
        description: Product identifier.
        schema:
          type: string
      - name: localInventory
        in: path
        required: true
        description: Local inventory identifier.
        schema:
          type: string
  /inventories/v1/accounts/{account}/products/{product}/localInventories:insert:
    post:
      tags:
      - inventories_v1
      operationId: inventories_v1_accounts_products_localInventories_insert
      summary: Inserts a `LocalInventory` resource to a product in your merchant account
      description: 'Derived from `inventories_v1.accounts.products.localInventories`.


        Original Google URI template: `/inventories/v1/{parent=accounts/*/products/*}/localInventories:insert`.


        Source summary: Inserts a `LocalInventory` resource to a product in your merchant account.'
      x-google-resource: inventories_v1.accounts.products.localInventories
      x-google-original-path-template: /inventories/v1/{parent=accounts/*/products/*}/localInventories:insert
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: product
        in: path
        required: true
        description: Product identifier.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawJson'
  /inventories/v1/accounts/{account}/products/{product}/localInventories:
    get:
      tags:
      - inventories_v1
      operationId: inventories_v1_accounts_products_localInventories_list
      summary: Lists the `LocalInventory` resources for the given product in your merchant account
      description: 'Derived from `inventories_v1.accounts.products.localInventories`.


        Original Google URI template: `/inventories/v1/{parent=accounts/*/products/*}/localInventories`.


        Source summary: Lists the `LocalInventory` resources for the given product in your merchant account.'
      x-google-resource: inventories_v1.accounts.products.localInventories
      x-google-original-path-template: /inventories/v1/{parent=accounts/*/products/*}/localInventories
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: product
        in: path
        required: true
        description: Product identifier.
        schema:
          type: string
  /inventories/v1/accounts/{account}/products/{product}/regionalInventories/{regionalInventory}:
    delete:
      tags:
      - inventories_v1
      operationId: inventories_v1_accounts_products_regionalInventories_delete
      summary: Deletes the specified `RegionalInventory` resource from the given product in your merchant account
      description: 'Derived from `inventories_v1.accounts.products.regionalInventories`.


        Original Google URI template: `/inventories/v1/{name=accounts/*/products/*/regionalInventories/*}`.


        Source summary: Deletes the specified `RegionalInventory` resource from the given product in your merchant account.'
      x-google-resource: inventories_v1.accounts.products.regionalInventories
      x-google-original-path-template: /inventories/v1/{name=accounts/*/products/*/regionalInventories/*}
      responses:
        '200':
          $ref: '#/components/responses/SuccessJson'
        default:
          $ref: '#/components/responses/Error'
      parameters:
      - name: account
        in: path
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: product
        in: path
        required: true
        description: Product identifier.
        schema:
          type: string
      - name: regionalInventory
        in: path
        required: true
        description: Regional inventory identifier.
        schema:
          type: string
[...]
